.import-view .explanation-expandable {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    color: var(--theme-secondary-color);
    overflow: hidden scroll;
    margin: 0 auto;
}

.import-view .explanation-expandable .intro {
    width: 100%;
    max-width: var(--max-width);
    box-sizing: border-box;
    margin: 4px auto 72px auto;
}

.import-view .explanation-expandable .intro h1 {
    font-family: "Jost Bold";
    font-size: 40px;
    line-height: var(--line-height);
    margin: 0 0 16px 0;
}

.import-view .explanation-expandable .head {
    width: 100%;
    max-width: var(--max-width);
    height: 96px;
    border-top: 1px solid var(--color-gray-400);
    overflow: hidden;
    display: flex;
    align-items: center;
    padding: 24px;
    box-sizing: border-box;
}

.import-view .explanation-expandable .head .number {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--theme-secondary-color);
    color: var(--theme-primary-color);
}

.import-view .explanation-expandable .head .heading {
    font-family: "Jost Medium";
    margin-left: 18px;
    font-size: var(--font-size-xl);
    flex: 1 1 auto;
}

.import-view .explanation-expandable .head .rotate-180 {
    transform: rotate(180deg);
}

.import-view .explanation-expandable .section-body {
    width: 100%;
    max-width: var(--max-width);
    box-sizing: border-box;
    border-top: 1px solid var(--color-gray-400);
}

.import-view .explanation-expandable .section-body .full-screen {
    width: 100%;
    max-width: var(--max-width);
    margin-bottom: 25px;
}

.import-view .explanation-expandable .section-body .file-info p {
    font-size: var(--font-size-ml);
    color: var(--theme-secondary-color);
    margin: 0 0 2px 0;
    line-height: 120%;
}

.import-view .explanation-expandable .section-body .x-divider {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.import-view .explanation-expandable .transparent-sides {
    mask-image: linear-gradient(
        to top,
        transparent,
        transparent,
        rgba(0, 0, 0, 1),
        transparent,
        transparent
    );
    -webkit-mask-image: linear-gradient(
        to top,
        transparent,
        transparent,
        rgba(0, 0, 0, 1),
        transparent,
        transparent
    );
}

.import-view .explanation-expandable .section-body * {
    margin-bottom: 16px;
}

.import-view .explanation-expandable .section-body p {
    margin-top: 0;
    margin-bottom: 36px;
}

.import-view .explanation-expandable .section-body {
    line-height: 120%;
    font-size: var(--font-size-l);
}

.import-view .explanation-expandable .section-body h4,
h5 {
    color: var(--theme-secondary-color);
    margin-top: 0;
}

.import-view .explanation-expandable .section-body h4 {
    font-family: "Jost Medium";
    font-size: var(--font-size-xl);
    margin-bottom: 36px;
    margin-top: 20px;
}

.import-view .explanation-expandable .section-body h5 {
    font-weight: 500;
    font-size: var(--font-size-l);
    margin-top: 10px;
    margin-bottom: 10px;
}

.import-view .explanation-expandable .section-body .btn-1 {
    margin-top: 45px;
}

.import-view .explanation-expandable .section-body .btn-2 {
    margin-top: 30px;
}

.import-view .explanation-expandable button.bg-red {
    background-color: var(--color-red-300);
    color: var(--theme-secondary-color);
}
