.detail-view .intro {
    margin-bottom: 28px;
}

.detail-view li {
    margin-bottom: 18px;
    font-size: 10px;
}

.detail-view .items {
    color: var(--color-gray-50);
    font-size: 20px;
    font-weight: 400;
}

.detail-view .source {
    margin-top: 45px;
}
