.bar-chart-horizontal-container {
    width: 100%;
    position: relative;
}

.bar-chart-horizontal-container .bar-chart-horizontal {
    position: relative;
    width: 100%;
    height: 165px;
    margin-top: 20px;
}

.bar-chart-horizontal-container .gridline {
    position: absolute;
    box-sizing: border-box;
    left: 5%;
    width: 95%;
    height: 1px;
    background-color: var(--color-gray-400);
    z-index: 3;
}

.bar-chart-horizontal-container .x-axis {
    position: absolute;
    font-size: 10px;
    top: 93%;
    color: var(--color-gray-400);
}

.bar-chart-horizontal-container .y-axis {
    position: absolute;
    font-size: 10px;
    left: -1%;
    transform: translateY(6px);
}

.bar-chart-horizontal-container .unit {
    position: absolute;
    font-size: 12px;
    transform: translate(33px, -17px);
}

.bar-chart-horizontal-container .bar {
    position: absolute;
    background-color: var(--color-gray-50);
    max-width: 80px;
    bottom: 10%;
    z-index: 2;
}
