button {
    border: none;
}

button:focus {
    outline: 0;
}

.screen-content {
    padding: 20px;
}

.reset-button {
    position: absolute;
    top: 20px;
    right: 8px;
    width: 60px;
    height: 48px;
    background: url("../images/reset-filter-background.svg");
    color: #fff;
}

.filter-section h1 {
    margin: 12px 0;
    font-family: "Jost Medium";
    font-size: 16px;
}

.filter-section h1::before {
    position: relative;
    top: 6px;
    margin-right: 12px;
}

.filter-section.industryCategory h1::before {
    content: url("../images/filter-icons/industry-categories.svg");
}

.filter-section.jurisdiction h1::before {
    content: url("../images/filter-icons/jurisdictions.svg");
}

.filter-section.location h1::before {
    content: url("../images/filter-icons/locations.svg");
}

.filter-section.revenueRange h1::before {
    content: url("../images/filter-icons/revenue.svg");
}

.filter-section button {
    height: 32px;
    margin: 0 4px 8px 0;
    padding: 0 12px 1px 12px;
    border: 1px solid #8d9caf;
    border-radius: 16px;
    background: transparent;
    color: #8d9caf;
    font-size: 14px;
}

.filter-section button.active {
    background: #8d9caf;
    color: #0f1938;
}

.apply-button {
    display: block;
    width: 300px;
    height: 48px;
    margin: 32px auto 0 auto;
    border-radius: 4px;
    color: #0f1938;
    font-family: "Jost Medium";
    font-size: 18px;
}
