:root {
    /* Primary colors */
    --color-dark: #0f1938;
    --color-semi-dark: #8d9caf;
    --color-medium: #a9b6c6;
    --color-semi-light: #edf2f7;
    --color-light: #f7fafc;

    /* Buttons colors */
    --color-button-dark-grey: #3e495b;

    /* Background colors */
    --color-background-dark: var(--color-dark);
    --color-background-light: var(--color-light);
    /* Text colors */
    --color-text-dark: var(--color-dark);
    --color-text-light: var(--color-light);

    /* Data exploration colors */
    --data-exp-data-types: #fe8988;
    --data-exp-purposes: #3ba6ff;
    --data-exp-companies: #7ee8a2;
    --data-exp-data-regions: #edf2f7;

    /* Data regions colors */
    --jurisdiction-EU-GDPR: #60e6de;
    --jurisdiction-five-eyes: #ec453d;
    --jurisdiction-russia: #fe8988;
    --jurisdiction-china: #c5271e;
    --jurisdiction-others: #a9b6c6;

    /* Cluster stories colors */
    --color-primary-messenger-story: #3ba6ff;

    /* Size */
    --max-width: 412px;
    --line-height: 120%;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/jost_regular.ttf");
}

@font-face {
    font-family: "Jost Medium";
    src: url("../fonts/jost_medium.ttf");
}

* {
    font-family: "Jost";
    font-weight: 400;
    letter-spacing: -0.01em;
    color: var(--color-text-light);
}

body {
    margin: 0;
}

button {
    border: none;
}

button:focus {
    outline: 0;
}

a {
    text-decoration: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6a798e;
    border-radius: 6px;
    z-index: 2;
    height: 38px;
}

::-webkit-scrollbar-track {
    margin-top: 64px;
}

strong {
    font-weight: 600;
}
