.purpose-info-popup-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 25, 56, 0.7);
}

.purpose-info-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 83%;
    max-width: 300px;
    height: 320px;
    background: #f7fafc;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.543846);
    border-radius: 8px;
    padding: 20px;
}

.purpose-info-popup h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.01em;
    color: #0f1938;
}

.purpose-info-popup p {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #0f1938;
}

.purpose-info-popup div {
    width: 100%;
    flex: 1 1 auto;
}

.purpose-info-popup button {
    display: block;
    background: #0f1938;
    border-radius: 4px;
    align-items: center;
    padding: 16px 32px;
    width: 260px;
    height: 40px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.01em;
    padding: 10px;
}
