.startScroll .scrollable {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.startScroll h1 {
    font-size: 20px;
    margin: 4px 0px !important;
    white-space: nowrap;
    overflow: scroll hidden;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.startScroll h1::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.startScroll h1 {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.startScroll .scrollable .gradient {
    position: absolute;
    display: flex;
    align-items: end;
    width: 20%;
    height: 90px;
    left: 80%;
    top: 0;
    background: linear-gradient(to right, #0f193800 0%, #0f1938);
}
