.company-short-info {
    display: flex;
    box-sizing: border-box;
    width: 350px;
    padding: 20px;
    border: none;
    background-color: #0f1938;
    outline: none;
    margin: 0 auto;
}

.company-short-info .featured-indicator {
    display: inline-block;
    margin-top: 4px;
}

.company-short-info .non-featured-aligner {
    display: inline-block;
    box-sizing: border-box;
    min-width: 19px;
    width: 19px;
    height: 19px;
    margin-top: 4px;
}

.company-short-info .info-box {
    display: inline-block;
    color: #edf2f7;
    text-align: left;
    margin-left: 6px;
}

.info-box .company-name {
    position: relative;
    font-family: "Jost Medium";
    font-size: 20px;
    margin: 0;
}

.info-box .company-location {
    font-size: 14px;
    width: 60px;
    display: inline;
}

.company-location .location-icon {
    display: inline-block;
    transform: translateX(-4px);
    width: 20px;
    height: 20px;
    background: url("../images/location-pin.svg");
}

.company-location .location-name {
    display: inline-block;
    transform: translateY(-4px);
    margin: 0;
}

.location-name .jurisdiction-name {
    color: #60e6de;
}

.company-short-info .company-category {
    font-size: 14px;
    transform: translateY(-4px);
    width: 180px;
    display: inline-block;
}

.company-category .category-name {
    display: inline-block;
    transform: translateY(-4px);
    margin: 0;
    color: #8d9caf;
}

.company-category .category-icon {
    display: inline-block;
    transform: translateX(-4px);
    width: 20px;
    height: 20px;
    background: url("../images/unknown.svg");
}
