.company-short-info {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: 321px;
    height: 90px;
    padding: 8px;
    border: none;
    background-color: #0f1938;
    outline: none;
    margin: 0 auto;
}

.company-short-info .featured-indicator {
    display: inline-block;
    height: 19px;
    width: 18px;
}

.company-short-info .info-box {
    color: #edf2f7;
    text-align: left;
}

.info-box .company-name {
    font-family: "Jost Medium";
    font-size: 20px;
    margin: 0;
}

.info-box .company-location {
    font-size: 14px;
    width: 60px;
    display: inline;
}

.company-location .location-icon {
    display: inline-block;
    transform: translateX(-4px);
    width: 20px;
    height: 20px;
    background: url("../images/location-pin.svg");
}

.company-location .location-name {
    display: inline-block;
    transform: translateY(-4px);
    margin: 0;
}

.location-name .jurisdiction-name {
    color: #60e6de;
}
