root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 80
indent_style = space
indent_size = 4

[*.ts]
# This is being picked up by prettier/eslint, so in order to leave the existing
# code alone for now, we overwrite max_line_length for TypeScript code.
max_line_length = 80

[.github/**.y{,a}ml]
indent_size = 2

[COMMIT_EDITMSG]
trim_trailing_whitespace = false
max_line_length = 72

[package.json]
indent_style = space
indent_size = 2
