# Mac stuff
.DS_Store

# Usual place for secrets
.env

# default node modules directory
node_modules/

# emacs backup
*~

# In principle, we don't like *new* fonts added to the repository. Please check if they are already there, and also their license before doing so.
# If you positively need it, please use --force to add it anyway, and explain the reason in the commit message.
*.?tf
!/assets/fonts/*.?tf

# (possibly private) data
.data

# VS Code local config
.vscode

# Andoid specific local config
android/app/local.properties
