# Mac stuff
.DS_Store

# Usual place for secrets
.env

# default node modules directory
node_modules/

# emacs backup
*~

# (possibly private) data
.data

# VS Code local config
.vscode

# Andoid specific local config
android/app/local.properties

# Cypress directories
**/cypress/support