[submodule "Features/PodCheck"]
	path = Features/PodCheck
	url = git@github.com:polypoly-eu/podCheck-feature.git
[submodule "Features/questionnaire-feature"]
	path = Features/questionnaire-feature
	url = git@github.com:polypoly-eu/questionnaire-feature.git
