# Mac stuff
.DS_Store

# Usual place for secrets
.env

# default node modules directory
node_modules/

# emacs backup
*~

# (possibly private) data
.data

# VS Code local config for debugging
launch.json

# Andoid specific local config
local.properties