.story-card-list {
  padding: 16px;
  display: flex;
  flex-flow: column;
  overflow: hidden scroll;
}

.story-card {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--color-gray-400);
  padding-bottom: 24px;
}

.story-card:last-of-type {
  border-bottom: none;
}

.story-card h1 {
  text-align: center;
  font-family: var(--jost-medium);
  margin: 20px 0;
  font-size: 24px;
  line-height: 100%;
}

.story-card ul {
  padding: 0 20px;
}

.story-card li {
  margin-right: 20px;
}

.story-card .highlighted-number {
  font-size: clamp(1rem, 14vw, 5rem);
  font-family: "Jost Bold";
  margin: 32px 0;
}

.story-card .right-edge-aligned {
  position: relative;
  display: flex;
  justify-content: end;
  margin-right: -16px;
}
