.mirrored-bar-chart .domain {
  stroke: transparent;
}

.mirrored-bar-chart .x-axis line,
.mirrored-bar-chart .y-axis line {
  stroke: transparent;
}

.mirrored-bar-chart .axis-grid line {
  stroke: var(--color-gray-500);
  opacity: 0.3;
  stroke-width: 1;
}

.mirrored-bar-chart .origin-gridline {
  fill: var(--color-gray-500);
}
