.messenger-intro {
  width: 100%;
}

.messenger-intro * {
  color: var(--color-dark);
}

.story-title {
  width: 85%;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.01em;
  margin: 25px 0px;
}

.one::first-letter {
  float: left;
  font-size: 60px;
  line-height: 40px;
  padding: 3px;
}

.story-intro-img {
  width: 348px;
  height: 468px;
  margin-bottom: 60px;
}

.messenger-el {
  font-weight: 600;
}

@media(min-width: 321px) {
  .story-title {
    width: 100%;
  }
}