.messenger-intro {
  width: 100%;
}

.messenger-intro * {
  color: var(--color-dark);
}

.story-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.01em;
  margin: 25px 0px;
}

.story-paragraph {
  width: 85%;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: -0.01em;
}

@media(min-width: 321px) {
  .story-paragraph {
    width: 95%;
  }
}

.one::first-letter {
  float: left;
  font-size: 60px;
  line-height: 40px;
  padding: 3px;
}

.story-intro-img {
  position: sticky;
  z-index: 100;
  width: 348px;
  height: 468px;
  margin-bottom: 60px;
}

.story-circle {
  position: absolute;
  border-radius: 60px;
  border: 0px transparent;
  z-index: 10;
  height: 125px;
  width: 125px;
  background: linear-gradient(179.25deg, var(--color-primary-messenger-story) 0.65%, var(--color-secondary-messenger-story) 82.92%);
}

.upper {
  position: sticky;
  z-index: 100;
}

.messenger-el {
  font-weight: 600;
}