.messenger-intro {
  background: linear-gradient(180deg, var(--color-primary-messenger-story) 0%, var(--color-secondary-messenger-story) 50%);
}

.messenger-intro * {
  color: var(--color-dark);
}

.story-title {
  width: 85%;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  text-align: center;
  letter-spacing: -0.01em;
  margin: 0 0 25px 0;
  padding-top: 25px;
}

.story-intro-img {
  width: 348px;
  height: 468px;
  margin-bottom: 60px;
}

.messenger-el {
  font-weight: 600;
}

@media(min-width: 321px) {
  .story-title {
    width: 100%;
  }
}