.featured-company-card {
    position: relative;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    border-radius: 24px;
    padding-bottom: 550px;
}

.featured-company-card ~ .gradient-area {
    bottom: 100px;
}

.featured-company-card .short-info-margin {
    margin-left: 12px;
}

.data-sharing-section-list {
    display: flex;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin: 8px auto 0 auto;
}

.data-sharing-section,
.data-sharing-legend {
    width: 85%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.data-sharing-section {
    background: transparent;
    font-size: 20px;
    text-align: left;
}

.data-sharing-section h1 {
    margin: 0 0 -7px 0;
    font-size: 16px;
}

.data-sharing-legend {
    height: 30px;
    margin-top: 8px;
    border: solid 1px #525e72;
    border-left: none;
    border-right: none;
    line-height: 30px;
    color: var(--color-medium);
    font-size: 10px;
}

.data-sharing-legend img {
    position: relative;
    top: 3px;
    margin-right: 4px;
}
