@font-face {
    font-family: "Jost";
    src: url("../fonts/jost_regular.ttf");
}

@font-face {
    font-family: "Jost Light";
    src: url("../fonts/jost_light.ttf");
}

@font-face {
    font-family: "Jost Medium";
    src: url("../fonts/jost_medium.ttf");
}

#font-face {
    font-family: "polyDisplay";
    src: url("../fonts/polydisplay_semi_1_0.otf");
}

* {
    font-family: "Jost";
    line-height: 120%;
    color: #0f1938;
}

html, body, .swiper-container {
    width: 100%;
    height: 100%;
    margin: 0;
}

h1, h2 {
    margin: 0;
    font-size: 32px;
}

h1 {
    font-family: "polyDisplay";
}

h2 {
    margin-bottom: 32px;
    font-family: "Jost Light";
}

button {
    display: block;
    width: 100%;
    max-width: 300px;
    height: 48px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    background: #fb8a89;
    font-family: "Jost Medium";
    font-size: 14px;
}

button:focus {
    outline: 0;
}

.swiper-container {
    background: #fff5f5;
}

.swiper-slide {
    box-sizing: border-box;
    padding: 30px;
    font-size: 16px;
}

.card {
    box-sizing: border-box;
    height: 100%;
    margin: -10px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
    background: white;
}

.card h1, .card h2 {
    font-size: 22px;
}
