.scroll-button, .scroll-button-light {
    width: 200px;
    height: 32px;
    border-radius: 16px;
    display: block;
    flex: 0 0 auto;
    margin: 17px auto 17px auto;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    line-height: 16.8px;
}

.scroll-button-light {
    background-color: var(--color-background-light);
    color: var(--color-dark);
}

.scroll-button {
    background-color: var(--color-background-dark);
    color: var(--color-light);
}

.scroll-button-hidden {
    visibility: hidden;
    display: none;
}