.company-industry-list {
    height: 100%;
}

.company-industry-list-group > hr {
    border: none;
    border-top: 1px solid #525e72;
    margin-left: 34px;
    margin-right: 34px;
}

.company-industry-list-group > h1 {
    margin-bottom: 0;
    color: var(--color-medium);
    font-size: 16px;
    font-family: "Jost Medium";
    font-weight: 500;
}

.company-industry-list-eco-item {
    padding: 0 34px;
    font-size: 16px;
}
