.data-exploration .company-short-info-container button {
    margin: 24px 0 0 22px;
}

.data-exploration .purpose-extra-margin {
    margin: 4px 0 0;
}

.data-exploration .company-short-info-container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.data-exploration .progress-bar {
    height: 4px;
    display: flex;
    flex-direction: row;
    margin: 16px 16px 0;
    /*
     * The progress bar's click area goes a bit over the exploration content, so
     * the progress bar needs to be higher up
     */
    z-index: 2;
}

.data-exploration .progress-bar .progress-bar-part {
    position: relative;
    height: 4px;
    width: 25%;
}

/* This expands the progress bar's tappable area */
.data-exploration .progress-bar .progress-bar-part:before {
    content: "";
    position: absolute;
    top: -8px;
    right: 0;
    left: 0;
    bottom: -8px;
}

.data-exploration .progress-bar .dataTypes {
    background-color: var(--data-exp-data-types);
    opacity: 0.5;
}

.data-exploration .progress-bar .purposes {
    background-color: var(--data-exp-purposes);
    opacity: 0.5;
}

.data-exploration .progress-bar .companiesShared {
    background-color: var(--data-exp-companies);
    opacity: 0.5;
}

.data-exploration .progress-bar .jurisdictions {
    background-color: var(--data-exp-data-regions);
    opacity: 0.5;
}

.data-exploration .progress-bar .active {
    opacity: 1;
}

.data-exploration .exploration-content {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.data-exploration .static-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
    overflow: hidden;
}

.data-exploration .static-content .bubble-source {
    height: 48px;
    font-family: "Jost Medium";
    font-size: 12px;
    line-height: 14px;
    color: var(--color-medium);
    margin: 16px 0 0 16px;
}

.data-exploration .static-content .source-info-container {
    padding: 0 16px;
}

.data-exploration .source {
    padding: 0 0 0 16px;
}

.data-exploration h1,
.data-exploration h2 {
    width: 296px;
    flex: 0 0 auto;
}

.data-exploration h1 {
    font-size: 24px;
    height: 32px;
    margin: 8px 16px;
}

.data-exploration h2 {
    text-align: center;
    font-size: 20px;
    height: 28px;
    margin: 12px auto 8px auto;
}

.data-exploration .highlight-data-type {
    color: var(--data-exp-data-types);
}

.data-exploration .highlight-purpose {
    color: var(--data-exp-purposes);
}

.data-exploration .highlight-companies {
    color: var(--data-exp-companies);
}

.data-exploration .bubble-chart,
.data-exploration .jurisdiction-tree-container .jurisdiction-tree {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    flex: 1 1 auto;
    overflow: hidden;
}

.data-exploration .static-content .bubble-chart svg,
.data-exploration .jurisdiction-tree-container .jurisdiction-tree svg {
    display: block;
    width: 100%;
    height: 100%;
}

.data-exploration .jurisdiction-tree-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.data-exploration .jurisdiction-tree-container .jurisdiction-tree {
    box-sizing: border-box;
    padding: 0 22px 0 24px;
}

.data-exploration .jurisdiction-tree-container .jurisdiction-tree svg {
    margin-bottom: -8px;
}

.data-exploration .jurisdiction-tree-container .source-info-container .source {
    padding: 0 16px;
}

.data-exploration .static-content .data-sharing-legend-fill {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 84%;
    max-width: 350px;
    margin: 8px auto;
    height: 32px;
}

.data-exploration .static-content .construction-container {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 90%;
    max-width: var(--max-width);
}

.data-exploration .construction-container img {
    display: block;
    margin: 0 auto;
    width: 40%;
}

.exploration-content .swipable-content {
    height: 100%;
}

.exploration-content .unswipable {
    pointer-events: none;
}

.data-exploration .swiper-container {
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
    pointer-events: none;
}

.data-exploration .swipable-content h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
}

.data-exploration .swiper-slide {
    position: relative;
    pointer-events: all;
    overflow: hidden;
}

.data-exploration .swiper-wrapper {
    pointer-events: none;
}

.data-exploration .swiper-slide-next {
    pointer-events: none;
}

.data-exploration .slide-tap-target {
    position: absolute;
    height: 50%;
    top: 40px;
    right: 0;
    bottom: 60px;
    left: 0;
}

.data-exploration .on-bubble {
    font-family: "Jost Medium";
    font-weight: 500;
    line-height: var(--line-height);
    font-size: 16px;
    width: 220px;
    margin: 40% auto 0 auto;
}

.data-exploration .purpose-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.data-exploration .purpose-content .source-info-container .source {
    padding: 0 16px;
}

.data-exploration .companies-list-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.data-exploration .companies-list-content > p {
    margin-left: 32px;
    margin-right: 32px;
}

.data-exploration .companies-list-content .companies-by-industry {
    flex: auto;
    min-height: 0;
    margin-bottom: 4px;
}

.data-exploration .explore-other {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    box-sizing: border-box;
    height: 48px;
    background-color: var(--color-background-light);
    color: var(--color-text-dark);
    font-size: 18px;
    font-weight: 600;
    margin: 12px 16px 20px 16px;
    border-radius: 8px;
    border: transparent;
    outline: none;
}
