.data-exploration .company-short-info-container button {
    margin: 24px 0 0 22px;
}

.data-exploration .company-short-info-container {
    width: 100%;
    max-width: 412px;
    margin: 0 auto;
}

.data-exploration .progress-bar {
    width: 84%;
    max-width: 350px;
    height: 4px;
    display: flex;
    flex-direction: row;
    margin: 16px auto 0 auto;
}

.data-exploration .progress-bar .progress-bar-part {
    height: 4px;
    width: 25%;
}

.data-exploration .progress-bar .dataTypes {
    background-color: #fb8a89;
    opacity: 0.5;
}

.data-exploration .progress-bar .purposes {
    background-color: #3ba6ff;
    opacity: 0.5;
}

.data-exploration .progress-bar .companiesShared {
    background-color: #7ee8a2;
    opacity: 0.5;
}

.data-exploration .progress-bar .jurisdictions {
    background-color: #edf2f7;
    opacity: 0.5;
}

.data-exploration .progress-bar .active {
    opacity: 1;
}

.data-exploration .exploration-content {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.data-exploration .static-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    max-width: 412px;
    height: 100%;
    overflow: hidden;
}

.data-exploration .static-content .bubble-source {
    font-size: 10px;
    line-height: 14px;
    letter-spacing: -0.01em;
    color: #a9b6c6;
    width: 84%;
    max-width: 350px;
    margin: 8px auto;
}

.data-exploration h1,
.data-exploration h2 {
    width: 296px;
    flex: 0 0 auto;
}

.data-exploration h1 {
    width: 84%;
    max-width: 350px;
    font-size: 24px;
    height: 32px;
    margin: 8px auto;
}

.data-exploration .static-content .filler {
    flex: 1 1 auto;
    width: 100%;
}

.data-exploration h2 {
    text-align: center;
    font-size: 20px;
    height: 28px;
    margin: 12px auto 8px auto;
}

.data-exploration .highlight-data-type {
    color: #fb8a89;
}

.data-exploration .highlight-purpose {
    color: #3ba6ff;
}

.data-exploration .highlight-companies {
    color: #7ee8a2;
}

.data-exploration .bubble-chart {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    flex: 1 1 auto;
    overflow: hidden;
}

.data-exploration .static-content .bubble-chart svg {
    width: 100%;
    height: 100%;
}

.data-exploration .jurisdiction-tree-container {
    margin: 0 24px 0 22px;
}

.data-exploration .jurisdiction-tree-container .jurisdiction-tree {
    margin-bottom: -8px;
}

.data-exploration .data-sharing-legend {
    width: 84%;
    max-width: 350px;
    margin: 8px auto;
}

.data-exploration .static-content .data-sharing-legend-fill {
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 84%;
    max-width: 350px;
    margin: 8px auto;
    height: 32px;
}

.data-exploration .down-button {
    display: block;
    width: 24px;
    height: 24px;
    flex: 0 0 auto;
    margin: 17px auto 17px auto;
    background: url("../images/chevron-down.svg") no-repeat;
}

.data-exploration .down-button-hidden {
    visibility: hidden;
}

.data-exploration .static-content .construction-container {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 90%;
    max-width: 412px;
}

.data-exploration .construction-container img {
    display: block;
    margin: 0 auto;
    width: 40%;
}

.exploration-content .swipable-content {
    height: 100%;
}

.exploration-content .unswipable {
    pointer-events: none;
}

.data-exploration .swiper-container {
    width: 100%;
    max-width: 412px;
    height: 100%;
    pointer-events: none;
}

.data-exploration .swipable-content h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
}

.data-exploration .swiper-slide {
    position: relative;
    pointer-events: all;
    overflow: hidden;
}

.data-exploration .swiper-wrapper {
    pointer-events: none;
}

.data-exploration .swiper-slide-next {
    pointer-events: none;
}

.data-exploration .on-bubble {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.01em;
}

.data-exploration .swipable-content .on-bubble {
    width: 220px;
    margin: 40% auto 0 auto;
}

.data-exploration .purpose-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.data-exploration .companies-list-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.data-exploration .companies-list-content>p {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
}

.data-exploration .companies-list-content .companies-by-industry {
    flex: auto;
    min-height: 0;
}
