.data-exploration .company-short-info-container button {
    margin: 24px 0 0 22px;
}

.data-exploration .company-short-info-container {
    width: 100%;
    max-width: 412px;
    margin: 0 auto;
}

.data-exploration .progress-bar {
    width: 84%;
    max-width: 350px;
    height: 4px;
    display: flex;
    flex-direction: row;
    margin: 16px auto;
}

.data-exploration .progress-bar .progress-bar-part {
    height: 4px;
    width: 25%;
}

.data-exploration .progress-bar .dataTypes {
    background-color: #fb8a89;
    opacity: 0.5;
}

.data-exploration .progress-bar .purposes {
    background-color: #3ba6ff;
    opacity: 0.5;
}

.data-exploration .progress-bar .companiesShared {
    background-color: #7ee8a2;
    opacity: 0.5;
}

.data-exploration .progress-bar .jurisdictions {
    background-color: #edf2f7;
    opacity: 0.5;
}

.data-exploration .progress-bar .active {
    opacity: 1;
}

.data-exploration .exploration-content {
    position: relative;
    height: 100%;
}

.exploration-content .static-content,
.dynamic-content {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 412px;
}

.exploration-content .static-content {
    height: 50%;
}

.data-exploration .static-content h1 {
    width: 296px;
    margin: 8px auto;
    font-size: 24px;
    height: 24px;
}

.data-exploration .static-content h2 {
    width: 296px;
    text-align: center;
    margin: 8px auto;
    font-size: 20px;
    height: 24px;
}

.data-exploration .static-content h1 .highlight {
    color: #fb8a89;
}

.data-exploration .static-content .bubble-chart {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 90%;
    max-width: 412px;
}

.data-exploration .static-content .bubble-chart svg {
    display: block;
    margin: auto;
}

.data-exploration .static-content .source {
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;
    color: #a9b6c6;
    transform: translateY(-10px);
    padding-left: 12%;
}

.data-exploration .static-content .down-button {
    display: block;
    width: 24px;
    height: 24px;
    margin: 17px auto 17px auto;
    background: url("../images/chevron-down.svg") no-repeat;
}

.exploration-content .swipable-content {
    height: 100%;
}

.data-exploration .swiper-container {
    width: 100%;
    max-width: 412px;
    height: 100%;
}

.data-exploration .swipable-content h2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
}

.data-exploration .swiper-slide {
    position: relative;
}

.data-exploration .swipable-content .on-bubble {
    width: 260px;
    margin: 40% auto 0 auto;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.01em;
}
