.company-industry-list {
    height: 100%;
    overflow: hidden scroll;
}

.company-industry-list-group>hr {
    border: none;
    border-top: 1px solid #525e72;
    margin-left: 34px;
    margin-right: 34px;
}

.company-industry-list-group>h1 {
    margin-bottom: 0;
    color: #a9b6c6;
    font-size: 16px;
    font-family: "Jost Medium";
}

.company-industry-list-eco-item {
    padding: 0 34px;
    font-size: 16px;
}
