.explore-data .explore-data-button {
    margin: 4px;
    padding: 8px 12px;
    border: solid 1px var(--color-contrast-white);
    border-radius: 16px;
    background-color: var(--background-dark);
    color: var(--text-light);
    font-size: 14px;
}

.explore-data .selected-data {
    background-color: var(--background-light);
    color: var(--text-dark);
}