.small-header {
  display: flex;
  justify-content: center;
  align-content: center;
}

.big-header {
  display: flex;
  flex-direction: column;
  padding-top: 8rem;
  // TODO: Figure out where these colors come from
  background-color: #fdeccf;
  color: #735c01;

  & > * {
    max-width: 75%;
  }
}
