.small-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 3rem;
}

.big-header {
  display: flex;
  flex-direction: column;
  padding-top: 14rem;
  padding-bottom: 2rem;
  background-color: #fdeccf;

  & > * {
    max-width: 75%;
    margin-bottom: 1rem;
  }

  p {
    color: #735c01;
  }
}
