.messages-gradient::before {
    content: "";
    background: linear-gradient(#0f193800 0%, #0f1938);
    text-align: center;
    width: 100%;
    max-width: var(--max-width);
    height: 80px;
    right: 0;
    bottom: 88px;
    position: fixed;
}

.messages-gradient {
    position: relative;
}

.messages-info-container {
    position: relative;
}

.messages-info-container .info-button {
    right: -24px;
    bottom: -52px;
}