.data-exploration .purpose-chart {
    display: flex;
    flex-direction: column;
    width: 88%;
    max-width: 350px;
    margin: 0 auto;
    flex: 1 1 auto;
    min-height: 0;
}

.data-exploration .purpose-chart .scale-container {
    width: 95%;
    padding: 0 2.5%;
    margin-bottom: 4px;
}

.data-exploration .purpose-chart .descriptions {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 12px;
    line-height: var(--line-height);
}

.data-exploration .purpose-chart .descriptions div {
    display: inline-block;
}

.data-exploration .purpose-chart .descriptions img {
    margin: 0 4px;
}

.data-exploration .purpose-chart .descriptions .fill {
    flex-grow: 1;
}

.data-exploration .purpose-chart .help {
    display: flex;
    flex: 0 0 auto;
    width: 95%;
    max-width: var(--max-width);
    height: 30px;
    margin: 12px 2.5% 0 2.5%;
    border: solid 1px #525e72;
    background-color: var(--color-background-dark);
    border-left: none;
    border-right: none;
    line-height: 30px;
    color: var(--color-medium);
    font-size: 10px;
}

.data-exploration .purpose-chart .help img {
    position: relative;
    top: 5px;
    width: 15px;
    height: 18px;
    margin-right: 4px;
}

.data-exploration .purpose-chart .scale {
    display: flex;
    flex-direction: row;
}

.data-exploration .purpose-chart .scale p {
    font-size: 8px;
    line-height: 135%;
    letter-spacing: -0.02em;
}

.data-exploration .purpose-chart .scale .origin {
    display: flex;
    flex-direction: column;
    width: 1px;
}

.data-exploration .purpose-chart .scale p {
    margin: 0;
    transform: translateX(-2px);
}

.data-exploration .purpose-chart .scale .origin div {
    height: 10px;
    width: 1px;
    background-color: var(--color-background-light);
}

.data-exploration .purpose-chart .scale .tick-box {
    flex: 1 1 auto;
    position: relative;
}

.data-exploration .purpose-chart .tick-box .tick {
    position: absolute;
    height: 10px;
    width: 1px;
    background-color: var(--color-background-light);
    right: 0;
    bottom: 0;
}

.data-exploration .purpose-chart .tick-box .half-tick {
    position: absolute;
    height: 4px;
    width: 1px;
    background-color: var(--color-background-light);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.data-exploration .purpose-chart .tick-box p {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(4px);
}

.data-exploration .purpose-chart .bars {
    flex: 1 1 auto;
    width: 100%;
    padding: 0 2.5%;
}

.data-exploration .purpose-chart .bar-box {
    display: flex;
    flex-direction: column;
}

.data-exploration .purpose-chart .bar-box .above-bar {
    display: flex;
    flex-direction: row;
}

.data-exploration .purpose-chart .bar-box .above-bar p {
    font-size: 12px;
    line-height: 150%;
    margin-right: 4px;
    margin-bottom: 0;
}

.data-exploration .purpose-chart .bar-box .above-bar img {
    transform: translateY(12px);
    width: 15px;
    height: 18px;
}

.data-exploration .purpose-chart .bar-box .bar {
    height: 12px;
    background-color: var(--data-exp-purposes);
}
