.exploration-info {
    width: 100%;
    max-width: 412px;
    margin: 0 auto;
    overflow: hidden scroll;
    padding-top: 24px;
}

.exploration-info * {
    color: #0f1938;
    line-height: 120%;
}

.exploration-info h1,
.exploration-info h2 {
    margin: 0;
    text-align: center;
    font-family: "Jost Medium";
}

.exploration-info h1 {
    font-size: 24px;
}

.exploration-info h2 {
    font-size: 20px;
}

.exploration-info p {
    font-size: 16px;
    font-family: "Jost";
    font-weight: 400;
    padding: 0 30px;
}

.exploration-info img,
.exploration-info button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.exploration-info button {
    width: 260px;
    height: 48px;
    margin: 30px auto;
    border-radius: 4px;
    background: #0f1938;
    color: white;
    font-size: 18px;
    font-family: "Jost Medium";
    font-weight: 500;
}

.exploration-info img {
    box-sizing: border-box;
    width: 100%;
    max-width: 412px;
    padding: 4px 28px;
}
