.explore-view {
    background-color: var(--background-dark);
    color: var(--color-gray-50);
    line-height: var(--line-height);
    letter-spacing: -0.01em;
    width: 100%;
    position: absolute;
    padding: 24px;
    border-top: 1px inset #a9b6c6;
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.explore-view .explore-view-title {
    text-align: center;
    font-weight: 500;
    margin: 8px 0 20px 0;
    font-size: 24px;
}

.explore-view  .pop-up {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff5f540;
    padding: 4px 0;
}

.explore-view  .pop-up .pop-up-message {
    margin-left: 4px;
    width: 90%;
}

.explore-view .pop-up .close-icon {
    background: var(--background-light);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 18px;
    text-align: center;
    color: var(--text-dark);
    margin-right: 4px;
}

.explore-view .pop-up .unsuccessfully {
      color: var(--color-red-300);
}

.explore-view .report-button,
.explore-view .details-button {
    background-color: var(--color-gray-50);
    padding: 16px 32px;
    margin: 0 auto;
    width: 100%;
    max-width: var(--max-width);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: var(--text-dark);
    border-radius: 4px;
    box-sizing: border-box;
}

.explore-view .details-button {
    margin-top: 12px;
}

.analysis-card:first-child {
    margin-top: 20px;
}

.analysis-card {
    max-width: var(--max-width);
    border-top: 1px solid var(--color-gray-50);
    margin-bottom: 12px;
    padding: 20px 8px 12px 8px;
    overflow-x: scroll;
}

.analysis-card > h1 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 8px 0;
}

.analysis-card > p {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-gray-400);
    margin: 0;
}

.analysis-card ul {
    padding: 0 20px;
}

.analysis-card li {
    margin-right: 20px;
}

.unrecognized-analysis-card {
    background-color: var(--color-red-100);
    color: var(--text-dark);
    padding: 20px;
}

.unrecognized-analysis-card .unrecognized-analysis-title {
    display: flex;
}

.unrecognized-analysis-card .unrecognized-analysis-title .alert-fake-icon {
    width: 20px;
    height: 20px;
    background-color: var(--color-red-300);
    font-weight: 600;
    text-align: center;
    border-radius: 50%;
    font-size: 16px;
    color: var(--color-red-50);
    margin-right: 8px;
}

.unrecognized-analysis-card .unrecognized-analysis-title h1 {
    font-size: 16px;
    margin: 0;
}

.unrecognized-analysis-card p {
    margin: 12px 0;
    color: var(--text-dark);
}
