.explore-view {
    background-color: var(--background-dark);
    color: var(--color-gray-50);
    line-height: var(--line-height);
    letter-spacing: -0.01em;
    width: 100%;
    position: absolute;
    border-top: 1px inset #a9b6c6;
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.explore-view .explore-view-title {
    text-align: center;
    font-weight: 500;
    margin: 8px 0 20px 0;
    font-size: 24px;
}

.explore-view .report-button {
    background-color: var(--background-dark);
    padding: 4px 12px;
    margin: 0 auto;
    width: 100%;
    height: 48px;
    max-width: var(--max-width);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    color: var(--text-light);
    border-radius: 4px;
    box-sizing: border-box;
}

.explore-view .details-button {
    background-color: var(--background-light);
    color: var(--text-dark);
    margin: 24px auto 0 auto;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.6px;
    box-sizing: border-box;
}

.card-separator {
    border-bottom: solid 1px var(--color-gray-400);
}

.explore-view  .pop-up {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.explore-view .unsuccessfully {
    background-color: var(--color-red-200);
    color: var(--color-red-900);
}

.explore-view .successfully {
    background-color: var(--color-green-200);
    color: var(--color-green-800);
}

.analysis-card {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 16px 16px 20px 16px;
    color: var(--text-light);
    overflow-x: scroll;
}

.analysis-card:last-child {
    border-bottom: none;
}
.analysis-card .card-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.analysis-card .card-container > h1 {
    max-width: 320px;
    font-size: 25px;
    font-weight: 500;
    line-height: 28.8px;
    margin: 0 0 24px 0;
}

.analysis-card .card-container > label {
    width: 90px;
    min-width: 82px;
    height: 32px;
    border-radius: 25px 0 0 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E495B;
    padding: 0px 12px;
    margin-left: 12px;
    margin-right: -20px;
    font-size: 14px;
}

.analysis-card .summary-text {
    font-size: 16px;
    font-weight: 400;
    color: var(--text-light);
    margin: 0;
    line-height: 19.2px;
}

.analysis-card ul {
    padding: 0 20px;
}

.analysis-card li {
    margin-right: 20px;
}

.unrecognized-analysis-card {
    background-color: var(--background-light);
    color: var(--text-dark);
    padding: 20px;
}

.unrecognized-analysis-card .unrecognized-analysis-title {
    display: flex;
}

.unrecognized-analysis-card .unrecognized-analysis-title h1 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
}

.unrecognized-analysis-card p {
    margin: 16px 0;
    color: var(--text-dark);
}
