.banner {
    background-color: var(--color-gray-100);
    padding: var(--pl-space-6x) var(--pl-space-4x);
    margin: calc(var(--pl-space-6x) * -1) calc(var(--pl-space-4x) * -1) 0 calc(var(--pl-space-4x) * -1);
}

.banner .banner-header {
    display: flex;
}

.banner .banner-header .banner-icon {
    margin-right: var(--pl-space-3x);
}

.banner .banner-title {
    font-family: "Jost Medium";
    color: var(--theme-secondary-color);
    font-size: var(--font-size-xl);
    margin: 0;
}

.banner .banner-description {
    margin: var(--pl-space-5x) 0 0 0;
    color: var(--theme-secondary-color);
}

.banner .banner-button {
    margin-top: var(--pl-space-5x);
}