.notification-container .notification-banner {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--gdu) * 4);
    margin: calc(var(--gdu) * -6) calc(var(--gdu) * -4) calc(var(--gdu) * 6) calc(var(--gdu) * -4);
    box-sizing: border-box;
}

.notification-container .standard {
    background-color: var(--color-accent-neutral-100);
    color: var(--color-accent-neutral-200);
}

.notification-container .error {
    background-color: var(--color-accent-error-100);
    color: var(--color-accent-error-200);
}

.notification-container .success {
    background-color: var(--color-accent-success-100);
    color: var(--color-accent-success-200);
}

.notification-container .warning {
    background-color: var(--color-accent-warning-100);
    color: var(--color-accent-warning-200);
}