.onboarding-popup-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(15, 25, 56, 0.5);
    z-index: 100;
}

.onboarding-popup {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 95%;
    max-width: 300px;
    max-height: 628px;
    border-radius: 8px;
    margin: 8px auto;
    background: var(--color-background-light);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.543846);
}

.onboarding-popup-content {
    position: relative;
    flex: 1 1 auto;
    overflow-y: scroll;
}

.onboarding-popup-content img {
    margin: 0 auto;
}

.onboarding-popup-content h1 {
    margin-top: 4px;
    margin-bottom: 12px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: var(--color-text-dark);
    vertical-align: bottom;
}

.onboarding-popup-content p {
    width: 240px;
    margin: 0 auto 8px auto;
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: var(--line-height);
    color: var(--color-text-dark);
}

.onboarding-popup-content .fade-out {
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(#f7fafc00 0%, #f7fafc);
    pointer-events: none;
}

.onboarding-popup-container .button-container {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 28px;
    text-align: center;
}

.onboarding-popup-container .button-container a {
    color: var(--color-text-dark);
    text-decoration: underline;
}

.onboarding-popup-container .button-container button {
    display: block;
    width: 240px;
    height: 42px;
    margin: 10px auto 0 auto;
    border-radius: 4px;
    background: var(--color-background-dark);
    color: var(--color-text-light);
    font-size: 18px;
}
