.onboarding-popup-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(15, 25, 56, 0.5);
    z-index: 100;
}

.onboarding-popup {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 95%;
    max-width: 380px;
    max-height: 560px;
    border-radius: 8px;
    margin: 8px auto;
    background: #f7fafc;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.543846);
}

.onboarding-popup h1 {
    flex: 0 0 auto;
    margin-bottom: 12px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    color: #0f1938;
    vertical-align: bottom;
}

.onboarding-popup-content {
    flex: 1 1 auto;
    width: 240px;
    margin: 0 auto;
    overflow-y: scroll;
}

.onboarding-popup-content p {
    text-align: left;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -0.01em;
    margin: 0 0 28px 0;
    color: #0f1938;
}

.onboarding-popup-content .image-placeholder {
    width: 240px;
    height: 216px;
    margin: 0 auto;
    background: #f7fafc;
}

.onboarding-popup-container .button-container {
    flex: 0 0 auto;
    width: 100%;
    margin-bottom: 28px;
    padding-top: 12px;
    background: #f7fafc;
    text-align: center;
}

.onboarding-popup-container .button-container a {
    color: #0f1938;
    text-decoration: underline;
}

.onboarding-popup-container .button-container button {
    display: block;
    width: 240px;
    height: 42px;
    margin: 10px auto 0 auto;
    border-radius: 4px;
    background: #0f1938;
    color: #fff;
    font-size: 18px;
}
