.demo-slider {
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden scroll;
  padding: 16px;
  box-sizing: border-box;
}

.theme-holder {
  padding: 1rem;
  position: absolute;
  top: 0;
  width: 50vw;
  height: 100vh;
  bottom: 0;
  overflow: auto;
  box-sizing: border-box;
}
.holder-left {
  left: 0;
  right: 50vh;
}
.holder-right {
  left: 50vw;
  right: 0;
}