@font-face {
  font-family: "Jost";
  src: url("../../../src/static/fonts/jost_regular.ttf");
}

@font-face {
  font-family: "Jost Light";
  src: url("../../../src/static/fonts/jost_light.ttf");
}

@font-face {
  font-family: "Jost Medium";
  src: url("../../../src/static/fonts/jost_medium.ttf");
}

@font-face {
  font-family: "Jost Bold";
  src: url("../../../src/static/fonts/jost_bold.ttf");
}
