.base-overlay {
  height: 100%;
  width: 100%;
  z-index: 100;
  position: absolute;
}

.base-overlay.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
