.poly-side-sheet {
  max-width: var(--max-width);
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--color-gray-100);
  color: var(--color-dark);
  overflow: hidden scroll;
  padding: 18px 16px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.poly-side-sheet .header {
  display: flex;
  align-items: center;
  min-height: 48px;
  position: relative;
  margin: 0 -16px;
}
.poly-side-sheet .title {
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
}
.poly-side-sheet .title-center {
  width: 100%;
  position: absolute;
  padding: 0 48px;
  box-sizing: border-box;
}
.poly-side-sheet .button-holder {
  margin-top: auto;
  margin-bottom: 32px;
}
