.stories-preview {
    padding: 0 16px 212px 16px;
} 

.stories-preview .preview-scrollable {
    min-height: 350px;
    position: relative;
}

.stories-preview h3 {
    color: var(--color-text-dark);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.stories-preview p {
    color: var(--color-text-dark);
    font-size: 16px;
}

.stories-preview .preview-btn-area {
    display: block;
    max-width: var(--max-width);
    margin: 0 0 auto auto;
    padding: 20px 8px 32px 0px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(255,255,255,1) 81%, rgba(255,255,255,0) 105%);
}

.stories-preview .preview-btn-container {
    padding: 0px 16px;
    background-color: var(--color-background-light);
}

.stories-preview .preview-btn-area .preview-btn-container .preview-btn {
    width: 100%;
    height: 48px;
    background-color: var(--color-background-dark);
    color: var(--color-text-light);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 16px;
    margin-top: 20px;
}
