.stories-preview {
    padding: 0 16px 0 16px;
}

.stories-preview .preview-scrollable {
    min-height: 350px;
    position: relative;
}

.stories-preview h3 {
    color: var(--color-text-dark);
    text-align: center;
    font-size: 20px;
    font-family: "Jost Medium";
    margin: 12px 48px 0;
    font-weight: 400;
}

.stories-preview p {
    color: var(--color-text-dark);
    font-size: 16px;
}
