.stories-preview {
    padding: 0 16px 212px 16px;
} 

.stories-preview .preview-scrollable {
    min-height: 350px;
    position: relative;
}

.stories-preview .preview {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--color-background-light);
    width: 328px;
    height: 320px;
    margin: 20px auto 0 auto;
    border-bottom: #BDBDBD solid 1px;
}

.stories-preview h3 {
    color: var(--color-text-dark);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.stories-preview p {
    color: var(--color-text-dark);
    font-size: 16px;
}

.stories-preview .preview-btn-area::before {
    content: "";
    width: 100%;
    max-width: 338px;
    height: 48px;;
    background: linear-gradient(#f7fafc00 0%, #f7fafc);
    position:absolute;
    bottom: 138px;
    right: 0;
    left: 0;
    z-index: 0;
    margin: auto;

}

.stories-preview .preview-btn-area {
    display: block;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 20px 16px 32px 16px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

.stories-preview .preview-btn-container {
    background-color: var(--color-background-light);
}

.stories-preview .preview-btn-area .preview-btn-container .preview-btn {
    width: 100%;
    height: 48px;
    background-color: var(--color-background-dark);
    color: var(--color-text-light);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-size: 16px;
    margin-top: 20px;
}
