<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>orodruin</title>
        <style>
            #container {
                display: flex;
                flex-grow: 1;
                margin: 0;
                padding: 0;
                resize: both;
                overflow: hidden;
                border: 4px dashed black;
            }
            #container > iframe {
                flex-grow: 1;
                margin: 0;
                padding: 0;
                border: 0;
            }
            .buttons {
                display: flex;
            }
            .hidden {
                display: none;
            }
            body {
                display: flex;
                box-sizing: border-box;
                flex-direction: column;
                position: absolute;
                height: 100%;
                width: 100%;
                padding: 8px;
                margin: 0;
            }
        </style>
        <script src="container.js" data-pod="<%= pod %>"></script>
    </head>
    <body>
        <h1>Dashboard</h1>
        <div class="dashboard">
            <div style="">
                <input
                    type="button"
                    value="Reload"
                    onclick="Container.reloadIframe();"
                />
                <input
                    type="button"
                    value="Hide Dashboard"
                    onclick="Container.hideDashboard();"
                />
            </div>
        </div>
        <h1>Feature</h1>
        <div id="container"></div>
        <script>
            Container.loadIframe();
        </script>
    </body>
</html>
