.messenger-story .data-types-lengend {
    display: flex;
    margin: 24px 0;
}

.messenger-story .data-types-lengend .bubble-legend {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin: auto 0;
}

.messenger-story .data-types-lengend p {
    margin: 0 0 0 8px;
}