.messenger-story {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.scrollytelling {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}