.pictures-mini-story {
    margin-bottom: 4px;
    position: relative;
}

.pictures-mini-story .svg-container {
    margin-bottom: 40px;
}

.pictures-mini-story .part-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pictures-mini-story .part-heading .icon {
    width: 26px;
    height: 26px;
    border: 2px solid var(--color-gray-50);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    box-sizing: border-box;
}

.pictures-mini-story .part-heading p {
    font-family: "Jost Medium";
    flex: 1 1 auto;
    margin: 0;
}

.pictures-mini-story .part {
    -webkit-tap-highlight-color: transparent;
}

.pictures-mini-story .source {
    margin: 32px 0 0 0;
}

.pictures-mini-story .pictures-info-container .info-button {
    bottom: 183px;
    right: -16px;
}

.pictures-mini-story .background-pictures-info-container .info-button {
    bottom: 202px;
    right: -16px;
}

@media (max-width: 321px) {
    .pictures-mini-story .pictures-info-container .info-button {
        bottom: 205px;
        right: -16px;
    }

    .pictures-mini-story .background-pictures-info-container .info-button {
        bottom: 224px;
        right: -16px;
    }
}
