.company-short-info {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border: none;
    background-color: var(--color-background-dark);
    outline: none;
    margin: 0;
}

.company-short-info .featured-indicator,
.company-short-info .non-featured-aligner {
    display: inline-block;
    margin-top: 4px;
    margin-right: 2px;
}

.company-short-info .non-featured-aligner {
    box-sizing: border-box;
    min-width: 19px;
    width: 19px;
    height: 19px;
}

.company-short-info .info-box {
    display: inline-block;
    width: 100%;
    color: var(--color-text-light);
    text-align: left;
    margin-left: 6px;
}

.info-box .company-name {
    position: relative;
    width: 90%;
    font-family: "Jost Medium";
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 6px 0;
    line-height: var(--line-height);
}

.info-box .company-location {
    font-size: 14px;
    width: 60px;
    display: inline;
}

.company-location .location-icon {
    display: inline-block;
    transform: translateX(-4px);
    width: 20px;
    height: 20px;
    background: url("../images/location-pin.svg");
}

.company-location .location-name {
    display: inline-block;
    transform: translateY(-4px);
    margin: 0;
}

.company-location .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-medium);
    margin-right: 4px;
}

.company-location .EU-GDPR {
    background-color: var(--jurisdiction-EU-GDPR);
}

.company-location .Russia {
    background-color: var(--jurisdiction-russia);
}

.company-location .Five-Eyes {
    background-color: var(--jurisdiction-five-eyes);
}

.company-location .China {
    background-color: var(--jurisdiction-china);
}

.company-location .Others {
    background-color: var(--jurisdiction-others);
}

.company-short-info .company-category {
    font-size: 14px;
    transform: translateY(-4px);
    width: 90%;
    display: inline-block;
}

.company-category .category-name {
    display: inline-block;
    margin: 0;
    color: var(--color-medium);
}

.company-category .category-icon {
    display: inline-block;
    transform: translateX(-4px);
    width: 20px;
    height: 20px;
    background: url("../images/unknown.svg");
}
