.import-view {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden scroll;
    background-color: var(--background-light);
    border-top: 4px solid var(--color-red-50);
    border-radius: 12px 12px 0px 0px;
    box-sizing: border-box;
    line-height: var(--line-height);
}

.import-view .progress-bar {
    width: 100%;
    max-width: var(--max-width);
    height: 48px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0 16px;
}

.import-view .progress-bar .section {
    flex: 1 1 0px;
    height: 100%;
    margin-right: 1px;
    display: flex;
    align-items: center;
}

.import-view .progress-bar .section .line {
    width: 100%;
    height: 4px;
}

.import-view .progress-bar .request-progress {
    background-color: var(--color-indigo-50);
}

.import-view .progress-bar .download-progress {
    background-color: var(--color-indigo-200);
}

.import-view .progress-bar .import-progress {
    background-color: var(--color-indigo-400);
}

.import-view .progress-bar .explore-progress {
    background-color: var(--color-indigo-500);
}

.import-view .explanation-expandable {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    color: var(--text-dark);
}

.import-view .explanation-expandable .intro {
    width: 100%;
    max-width: var(--max-width);
    padding: 16px;
    box-sizing: border-box;
}

.import-view .explanation-expandable .head {
    width: 100%;
    max-width: var(--max-width);
    height: 112px;
    position: relative;
    border-top: 2px solid var(--color-grey-400);
    overflow: hidden;
}

.import-view .explanation-expandable .head .number {
    width: 100px;
    height: 100px;
    top: -12px;
    left: -20px;
    border-radius: 50%;
    position: absolute;
    font-size: 28px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-light);
}

.import-view .explanation-expandable .head .request {
    background-color: var(--color-indigo-300);
}

.import-view .explanation-expandable .head .download {
    background-color: var(--color-indigo-500);
}

.import-view .explanation-expandable .head .import {
    background-color: var(--color-indigo-700);
}

.import-view .explanation-expandable .head .explore {
    background-color: var(--color-indigo-950);
}

.import-view .explanation-expandable .body {
    padding: 0 16px 16px 16px;
    width: 100%;
    max-width: var(--max-width);
    box-sizing: border-box;
}

.import-view .explanation-expandable .body .separator {
    height: 1px;
    width: 100%;
    max-width: var(--max-width);
    background-color: var(--color-grey-400);
    margin-bottom: 26px;
}
