.revenue-chart-container {
    width: 100%;
    position: relative;
}

.revenue-chart-container .revenue-chart {
    position: relative;
    width: 100%;
    height: 165px;
    margin-top: 20px;
}

.revenue-chart-container .gridline {
    position: absolute;
    box-sizing: border-box;
    left: 12%;
    width: 80%;
    height: 1px;
    background-color: var(--color-semi-dark);
}

.revenue-chart-container .x-axis {
    position: absolute;
    font-size: 10px;
    top: 88%;
    color: var(--color-semi-dark);
    transform: translateX(-4px);
}

.revenue-chart-container .y-axis {
    position: absolute;
    font-size: 10px;
    left: 7%;
    transform: translateY(6px);
}

.revenue-chart-container .unit {
    position: absolute;
    font-size: 12px;
    transform: translate(33px, -17px);
}

.revenue-chart-container .bar {
    position: absolute;
    background-color: #3ba6ff;
    width: 12%;
    max-width: 80px;
    bottom: 23%;
    z-index: 200;
    transform: translateX(4px);
}

.revenue-chart-container .source {
    margin-left: 10%;
    margin-top: 2px;
    font-size: 10px;
    color: var(--color-semi-dark);
}

.revenue-chart-container .no-data-text {
    position: absolute;
    left: 50%;
    top: 35%;
    padding-left: 16px;
    width: 180px;
    transform: translateX(-50%);
    font-size: 14px;
}

.revenue-chart-container .no-data-for-column-tag {
    transform: translateY(-46px);
    font-size: 12px;
    color: var(--color-semi-dark);
    text-align: center;
}

.revenue-chart-container .in-bar-number {
    font-size: 10px;
    font-weight: 500;
    color: #002850;
    text-align: center;
}

.revenue-chart-container .over-bar-number {
    font-size: 10px;
    font-weight: 500;
    text-align: center;
    transform: translateY(-32px);
}
