.main-screen .nav-button-container {
    flex: 0 1 auto;
    height: 40px;
    width: 100%;
    z-index: 20;
    background-color: var(--color-background-dark);
}

.main-screen .nav-button {
    box-sizing: border-box;
    background-color: var(--color-background-dark);
    width: 50%;
    height: 100%;
    padding-bottom: 12px;
    font-family: "Jost Medium";
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-semi-dark);
    border-bottom: 4px solid transparent;
    outline: none;
}

.main-screen .nav-button.active {
    border-color: var(--color-semi-light);
    color: var(--color-text-light);
}

.main-screen .filtered-entity-list {
    flex: 1 1 auto;
}
