.nav-button-container {
    flex: 0 0 auto;
    height: 40px;
    width: 100%;
    z-index: 20;
    background-color: var(--color-background-dark);
}

.nav-button {
    box-sizing: border-box;
    background-color: var(--color-background-dark);
    width: 50%;
    height: 100%;
    padding-bottom: 8px;
    font-family: "Jost Medium";
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: var(--color-semi-dark);
    border: 4px solid transparent;
    outline: none;
}

.nav-button.active {
    /*
     * Without this, a thin stripe of nav-button-container is visible below the
     * active element.
     */
    padding-top: 0;
    border: 4px solid var(--transparent);
    border-bottom: 4px solid var(--color-light);
    /* border-color: var(--color-semi-light); */
    color: var(--color-text-light);
}

.main-screen .filtered-entity-list {
    flex: 1 1 auto;
}
