.main-screen .nav-button-container {
    flex: 0 0 auto;
    height: 40px;
    width: 100%;
    z-index: 20;
    background-color: var(--color-background-dark);
}

.main-screen .filtered-entity-list {
    flex: 1 1 auto;
}
