.explorer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tab-content-container {
    text-align: center;
    position: relative;
    height: 203px;
    margin: 40px auto;
    width: 100%;
    height: 100%;
    max-width: var(--max-width);
}

.tab-content-container .featured-map-container {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
}

.tab-content-container .featured-map {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.tab-content-container .featured-map .map {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.tab-content-container .location-block {
    position: relative;
    height: 177px;
    margin-bottom: 12px;
}

.EU-GDPR p {
    color: #002850;
}

.location-map .EU-GDPR {
    background-color: var(--jurisdiction-EU-GDPR);
}

.location-map .Russia {
    background-color: var(--jurisdiction-russia);
}

.location-map .Five-Eyes {
    background-color: var(--jurisdiction-five-eyes);
}

.location-map .China {
    background-color: var(--jurisdiction-china);
}

.location-map .Sonstige {
    background-color: var(--jurisdiction-others);
}

.location-block .pin {
    display: block;
    width: 36px;
    height: 36px;
    margin: 0 auto;
    transform: translateY(67px);
}

.location-block .featured-pin {
    display: block;
    position: absolute;
    width: 36px;
    height: 36px;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -63%);
}

.location-block p {
    display: block;
    width: 142px;
    margin: 0 auto;
    transform: translate(84px, 48px);
}

.location-block .no-location {
    display: block;
    width: 142px;
    margin: 0 auto;
    transform: translateY(56px);
    text-align: center;
}

.structure-tab {
    position: relative;
}

.structure-tab img {
    display: block;
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
    margin: 0 auto;
}

.structure-tab .text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 200;
}

.structure-tab .text p {
    display: block;
    margin: 22% auto;
    width: 200px;
}

.company-details-text {
    box-sizing: border-box;
    width: 100%;
    max-width: var(--max-width);
    padding: 4px 30px;
    margin-bottom: 4px; 
}

.company-details-source {
    color: var(--color-medium);
    flex: 0 0 auto;
    font-size: 12px;
    margin: 0px auto;
    width: 100%;
    padding: 0 30px;
    max-width: var(--max-width);
}

.revenue .separator {
    border: 1px solid var(--color-medium);
    margin: 38px 0 16px 0;
}

.featured-map-container h2, .location-map h2, .revenue h2 {
    margin: 0 0 8px 0;
}