.source-info-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

.source-info-container .source {
    margin: 0;
    padding: 0;
    color: var(--theme-small-print-color);
    font-family: "Jost Medium";
    font-size: 12px;
}

.source-info-container .info-button {
    position: static;
    margin-right: -16px;
}

.swiper-container .source-info-container .info-button {
    margin-right: 0;
}

