:root {
    --background-dark: var(--color-dark);
    --background-light: var(--color-white);

    --text-white: var(--color-white);
    --text-light: var(--color-white);
    --text-dark: var(--color-indigo-950);

    /* Size */
    --max-width: 412px;
    --line-height: 120%;
}

.facebook-importer {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: var(--color-dark);
    color: var(--color-white);
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/jost_regular.ttf");
}

@font-face {
    font-family: "Jost Light";
    src: url("../fonts/jost_light.ttf");
}

@font-face {
    font-family: "Jost Medium";
    src: url("../fonts/jost_medium.ttf");
}

@font-face {
    font-family: "Jost Bold";
    src: url("../fonts/jost_bold.ttf");
}

* {
    font-family: "Jost";
    font-weight: 400;
    letter-spacing: -0.01em;
    color: var(--color-text-light);
}

.btn-highlighted,
.btn-secondary {
    font-family: "Jost Medium";
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    width: 100%;
    height: 48px;
    color: var(--color-indigo-950);
    border-radius: 4px;
    font-size: 18px;
    box-sizing: border-box;
}

.btn-highlighted {
    background-color: var(--color-red-300);
}

.btn-highlighted a {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
    margin: 0 !important;
}

.btn-secondary {
    border: 1px solid var(--color-indigo-950);
    box-sizing: border-box;
    background-color: transparent;
}

.deactivated {
    opacity: 0.5;
}

.source {
    margin-top: 36px;
    color: var(--color-gray-400);
    font-size: 12px;
}

strong {
    font-family: "Jost Medium";
}
