.fixed-footer::before {
    content: "";
    height: 40px;
    position: absolute;
    top: -40px;
    right: 0;
    left: 0;
    background: linear-gradient(var(--transparent), var(--pl-screen-color-fill));
}

.fixed-footer {
    background-color: var(--pl-screen-color-fill);
    text-align: center;
    padding: 16px 16px 24px 16px;
    margin-bottom: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}