.scroll-button {
    height: 32px;
    background: var(--color-indigo-950);
    color: var(--color-gray-50);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 7.5px 12px;
    box-sizing: border-box;
}

.scroll-button.light {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: var(--color-gray-50) !important;
    color: var(--color-indigo-950) !important;
}

.scroll-button p {
    margin: 0;
    white-space: nowrap;
}

.scroll-button img {
    margin-right: 6px;
}
