.tabs .tab-buttons {
  margin: 0 auto;
  display: flex;
  width: 100%;
  height: 100%;
}

.tabs .tab-buttons .tab-button {
  flex: 1 1 0px;
  background-color: var(--transparent);
  border: 4px solid var(--transparent);
  border-bottom: 1px solid #757575;
  padding-bottom: 4px;
  color: #757575;
  font-size: 14px;
  font-family: "Jost Medium";
  line-height: 120%;
  white-space: nowrap;
}

.tabs .tab-button.active {
  padding-bottom: 1px;
  color: var(--theme-secondary-color) !important;
  border: 4px solid var(--transparent);
  border-bottom: 4px solid var(--theme-secondary-color);
}
