.purpose-info-popup-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 25, 56, 0.7);
    z-index: 200;
}

.purpose-info-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    z-index: 1;
    width: 80%;
    max-width: 300px;
    height: 320px;
    background: var(--color-background-light);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.543846);
    border-radius: 8px;
    padding: 20px;
}

.purpose-info-popup h1 {
    height: auto;
    font-weight: 500;
    font-size: 24px;
    line-height: var(--line-height);
    text-align: center;
    color: var(--color-text-dark);
}

.purpose-info-popup p {
    font-size: 16px;
    line-height: var(--line-height);
    color: var(--color-text-dark);
}

.purpose-info-popup div {
    width: 100%;
    flex: 1 1 auto;
}

.purpose-info-popup button {
    display: block;
    background: var(--color-background-dark);
    border-radius: 4px;
    align-items: center;
    padding: 16px 32px;
    width: 260px;
    height: 40px;
    margin: 0 auto;
    font-size: 18px;
    line-height: var(--line-height);
    text-align: center;
    padding: 10px;
}
