.tab-button-container {
    box-sizing: border-box;
    height: 35px;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid var(--color-gray-400);
}

.tab-button-container .tab-button {
    box-sizing: border-box;
    flex: 1 1 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 12px;
    font-size: 14px;
    line-height: 16px;
    border-color: transparent;
    background-color: transparent;
    outline: none;
    color: var(--color-gray-400);
}

.tab-button-container .tab-button.active {
    color: var(--color-gray-50);
}

.tab-button-container .tab-button.active .border {
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    border-top: 4px solid var(--color-gray-50);
    border-radius: 4px 4px 0 0;
}

.tab-content-container {
    position: relative;
    height: 203px;
    margin: 2px auto 0 auto;
    width: 100%;
    max-width: var(--max-width);
}
