// Full-Height Padded Pancake Stack
// http://1linelayouts.glitch.me
.layout {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;

    > * {
        padding: 1rem;
    }
}
