.company-list {
    flex: 1 1 auto;
    margin-top: 20px;
    overflow-y: auto;
}

.company-group {
    position: relative;
    margin-left: 20px;
}

.company-group-label {
    position: absolute;
    top: 12px;
    z-index: 1;
    font-family: "Jost Medium";
    font-size: 16px;
    color: #8d9caf;
}

.company-group-companies {
    margin-left: 8px;
}
