.company-list {
    position: relative;
    flex: 1 1 auto;
    width: 360px;
    margin: 2px auto 0 auto;
    overflow-y: auto;
}

.active-filters {
    overflow-x: scroll;
    white-space: nowrap;
}

.active-filters::-webkit-scrollbar {
    display: none;
}

.active-filters button {
    margin-left: 4px;
    margin-bottom: 12px;
    padding: 7.5px 12px;
    border-radius: 16px;
    background: #a9b6c6;
    color: #0f1938;
    font-size: 14px;
}

.active-filters button:first-child {
    margin-left: 0;
}

.filter-button {
    position: fixed;
    margin-left: 300px;
    z-index: 1;
    width: 60px;
    height: 48px;
    border: none;
    background: url("../images/filter-background.svg");
}

.filter-button:focus {
    outline: 0;
}

.company-group {
    display: inline-block;
    position: relative;
    margin-left: 12px;
}

.company-group-label {
    position: absolute;
    top: 12px;
    z-index: 1;
    font-family: "Jost Medium";
    font-size: 16px;
    color: #8d9caf;
}

.company-group-companies {
    margin-left: 8px;
}
