.company-list {
    flex: 1 1 auto;
    overflow-y: auto;
}

.active-filters {
    position: fixed;
    z-index: 2;
    width: 100%;
    overflow-x: scroll;
    background: var(--color-background-dark);
    white-space: nowrap;
}

.active-filters::-webkit-scrollbar {
    display: none;
}

.active-filters button {
    margin-left: 4px;
    margin-top: 28px;
    margin-bottom: 42px;
    height: 32px;
    padding: 0 9px 0 9px;
    border-radius: 16px;
    line-height: 32px;
    background: var(--color-medium);
    color: var(--color-text-dark);
    font-size: 14px;
}

.active-filters button:first-child {
    margin-left: 12px;
}

.active-filters button:last-child {
    margin-right: 12px;
}

.active-filters button::before,
button::after {
    position: relative;
    top: 4px;
}

.active-filters button::before {
    margin-right: 4px;
}

.active-filters button.industryCategory::before {
    content: url("../images/filter-icons/industry-categories-blue.svg");
}

.active-filters button.jurisdiction::before {
    content: url("../images/filter-icons/jurisdictions-blue.svg");
}

.active-filters button.location::before {
    content: url("../images/filter-icons/locations-blue.svg");
}

.active-filters button.revenueRange::before {
    content: url("../images/filter-icons/revenue-blue.svg");
}

.active-filters button::after {
    content: url("../images/close-chip.svg");
    margin-left: 4px;
}

.companies {
    margin: 24px auto 0 auto;
}

.companies.filters-visible {
    margin-top: 100px;
}

.filter-button {
    position: fixed;
    right: 0;
    margin-top: -12px;
    z-index: 1;
    width: 60px;
    height: 48px;
    border: none;
    background: url("../images/filter-background.svg");
}

.filter-button:focus {
    outline: 0;
}

.company-group {
    display: flex;
    position: relative;
    padding-left: 28px;
}

.company-group-label {
    position: absolute;
    top: 12px;
    left: 16px;
    z-index: 1;
    font-family: "Jost Medium";
    font-weight: 500;
    font-size: 16px;
    color: var(--color-medium);
}

.company-group-companies {
    width: 100%;
    margin-left: -4px;
}
