.base-info {
    max-width: 412px;
    margin: 0 auto;
    overflow: hidden scroll;
    padding-top: 24px;
}

.base-info * {
    color: #0f1938;
    line-height: 120%;
}

.base-info h1,
.base-info h2 {
    margin: 0;
    text-align: center;
    font-family: "Jost Medium";
}

.base-info h1 {
    font-size: 24px;
}

.base-info h2 {
    font-size: 20px;
}

.base-info p {
    font-size: 16px;
    font-family: "Jost";
    font-weight: 400;
}

.base-info img,
.base-info button {
    display: block;
}

.base-info button {
    width: 100%;
    height: 48px;
    margin: 30px 0;
    border-radius: 4px;
    background: #0f1938;
    color: white;
    font-size: 18px;
    font-family: "Jost Medium";
    font-weight: 500;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.base-info img {
    box-sizing: border-box;
    width: 100%;
    max-width: 412px;
    padding: 4px 0;
}

.base-info-padding {
    padding: 0 32px;
}
