.base-info {
    padding: 16px;
}

.base-info * {
    color: var(--color-text-dark);
    line-height: var(--line-height);
}

.base-info .info-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.base-info .info-title h1 {
    width: 100%;
    min-width: 134px;
    margin: 0 8px;
    font-family: "Jost Medium";
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
}

.base-info svg {
    height: 100%;
    max-width: var(--max-width);
}

.base-info button {
    display: block;
    width: 100%;
    height: 48px;
    margin-bottom: 16px;
    border-radius: 4px;
    background: var(--color-background-dark);
    color: var(--color-text-light);
    font-size: 18px;
    font-family: "Jost Medium";
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
}