:root {
    --background-dark: var(--color-dark);
    --background-light: var(--color-white);

    --text-white: var(--color-white);
    --text-light: var(--color-white);
    --text-dark: var(--color-indigo-950);

    /* Size */
    --max-width: 412px;
    --line-height: 120%;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/jost_regular.ttf");
}

@font-face {
    font-family: "Jost Light";
    src: url("../fonts/jost_light.ttf");
}

@font-face {
    font-family: "Jost Medium";
    src: url("../fonts/jost_medium.ttf");
}

@font-face {
    font-family: "Jost Bold";
    src: url("../fonts/jost_bold.ttf");
}

.google {
    width: 100%;
    height: 100%;
    background-color: var(--color-dark);
    color: var(--color-white);
}

* {
    font-family: "Jost";
    font-weight: 400;
    letter-spacing: -0.01em;
    color: var(--color-text-light);
}

body {
    margin: 0;
}

button {
    border: none;
}

button:focus {
    outline: 0;
}

