:root {
}

.google {
    background-color: var(--theme-primary-color);
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/jost_regular.ttf");
}

@font-face {
    font-family: "Jost Light";
    src: url("../fonts/jost_light.ttf");
}

@font-face {
    font-family: "Jost Medium";
    src: url("../fonts/jost_medium.ttf");
}

@font-face {
    font-family: "Jost Bold";
    src: url("../fonts/jost_bold.ttf");
}
