@charset "UTF-8";
:root {
    /* primary colors */
    --color-dark: #0F1938;
    --color-semi-dark: #475ABB;
    --color-medium: #CBD5E0;
    --color-semi-light: #E2E8F0;
    --color-light: #f7fafc;

    /*background-colors*/
    --light-background: var(--color-light);
    --dark-background: var(--color-semi-light);

    /* text-colors */
    --dark-text: var(--color-dark);
    --light-text: var(--color-light);


    /*secondary colors*/
    --dark-grey: #273040;
    --medium-blue: #475abb;

    /*question colors*/
    --academy-blue: #91daff;
    --academy-rustRed: #cd6f55;
    --grey-light: #e2e7ea;
    --grey-medium: #a9bcc8;
    --grey-grey: #8197a5;

    /*signal-colors*/
    --signal-good: #00bfe3;
    --signal-noGood: #ffc60b;
    --signal-bad: #f47d20;
    --signal-worse: #ed1847;
    --signal-theWorst: #640736;
}

:root {
/* Size */
    --max-width: 412px;
    --text-xs: 12px;
    --text-xl: 30px;

    --spacing-0: 0;
    --spacing-1: 0.25rem;
    --spacing-2: 0.5rem;
    --spacing-3: 0.75rem;
    --spacing-4: 1rem;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-8: 2rem;
    --spacing-10: 2.5rem;
    --spacing-12: 3rem;
    --spacing-16: 4rem;
    --spacing-20: 5rem;
    --spacing-24: 6rem;
    --spacing-32: 8rem;
    --spacing-40: 10rem;
    --spacing-48: 12rem;
    --spacing-56: 14rem;
    --spacing-64: 16rem;
    /* --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --text-3xl: 1.875rem;
    --text-4xl: 2.25rem;
    --text-5xl: 3rem;
    --text-6xl: 4rem; */
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/jost_regular.ttf");
}
@font-face {
    font-family: "Jost Medium";
    font-weight: bold;
    src: url("../fonts/jost_medium.ttf");
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    font-family: "Jost";
    font-weight: 500;
}

html,
body {
    margin: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: var(--light-background);
    color: var(--dark-text);
}

h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 700;
}

h1 {
    font-size: 1.4rem;
}

h2 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol,
ul {
    padding-left: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

blockquote {
    margin: 0 0 1rem;
}

strong {
    font-weight: 700;
}

img,
svg {
    vertical-align: middle;
}

button {
    border-radius: 0;
    background: none;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: 1rem;
    line-height: inherit;
}

/* button,
input {
    overflow: visible;
} */

button,
select {
    text-transform: none;
}

.layout {
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
.layout > * {
    padding: 1rem;
}

.small-header {
    display: flex;
    justify-content: center;
    align-content: center;
}

.big-header {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    background-color: #fdeccf;
    color: #735c01;
}
.big-header > * {
    max-width: 75%;
}

.centered-footer {
    display: flex;
    background: white;
    justify-content: center;
}

.tabs {
    margin-bottom: 2rem;
}
.tabs ul {
    display: flex;
    padding-left: 0;
    list-style: none;
}
.tabs li {
    flex: 1 1 0;
    padding-bottom: 10px;
    text-align: center;
}
.tabs a {
    color: #8197a5;
    text-decoration: none;
}
.tabs .tabs-active {
    border-bottom: 6px solid #000;
    border-radius: 3px;
}
.tabs .tabs-active a {
    color: var(--color-dark);
}

button,
a.button {
    border: none;
    text-decoration: none;
    text-align: center;
}

button.inverted,
a.button.inverted {
    background: var(--color-semi-dark);
    color: var(--light-text);
}

/* button.alt,
a.button.alt {
    padding: 0.2rem;
    border: none;
    background-color: #fcf79e;
    flex-grow: 0;
} */

/* hidden from view, but not from screen readers */
.choice-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* TODO Lucas: aufräumen */
.invisible {
    visibility: hidden;
}

.page-title,
.page-title a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #4a5568;
}


/* .card button,
.card .button {
    background-color: var(--color-semi-dark);
    color: var(--text-light);
} */

.call-out-section {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    border-top: 2px solid #718096;
    border-bottom: 2px solid #718096;
    padding: 1rem;
    background: url("./icons/chevron.svg") no-repeat right center;
}
.call-out-section > :not(:last-child) {
    margin-bottom: 1rem;
}
.call-out-section strong {
    font-size: 1.2rem;
    color: #0f5bb1;
}
.call-out-section p {
    color: #000;
}

.question-card-index {
    font-size: 1.2rem;
    color: #735c01;
    margin-bottom: 1rem;
}

.question-card-question {
    color: #1a202c;
    margin-bottom: 2rem;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
}

.choice-label {
    display: flex;
    align-items: center;
    border: 1px solid #a0aec0;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0.4rem;
    --choice-index-color: #e2e8f0;
    --choice-index-background-color: #4a5568;
    /* stylelint-disable-next-line */
}
.choice-label > * {
    padding: 0.4rem 0.6rem;
}
:checked ~ .choice-label {
    --choice-index-color: #2d3748;
    --choice-index-background-color: #ebe019;
    background-color: #ebe019;
}

.choice-index {
    background-color: var(--choice-index-color);
    color: var(--choice-index-background-color);
    border-radius: 5px;
}

.chevron-up {
    transform: rotate(270deg);
}

.chevron-down {
    transform: rotate(90deg);
}

.questionnaire-footer {
    display: flex;
    background-color: #faf6f4;
    font-size: 0.8rem;
}
.questionnaire-footer > :not(:last-child) {
    margin-right: 0.2rem;
}

.questionnaire-progress {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.questionnaire-progress progress {
    width: 100%;
}
.questionnaire-progress progress[value] {
    -webkit-appearance: none;
}
.questionnaire-progress progress[value]::-webkit-progress-bar {
    background-color: #fcf79e;
    border-radius: 2px;
}
.questionnaire-progress progress[value]::-webkit-progress-value {
    background-color: #2d3748;
}
