.polypoly-dialog {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.polypoly-dialog .polypoly-dialog-window {
    width: 318px;
    height: 332px;
    background-color: var(--color-gray-50);
    box-shadow: 0px 15px 12px rgba(0, 0, 0, 0.22),
        0px 19px 38px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    padding: 26px;
    box-sizing: border-box;
}

.polypoly-dialog .polypoly-dialog-window p {
    font-weight: 600;
    font-size: 24px;
    color: var(--color-indigo-950);
    text-align: center;
    display: flex;
    align-items: center;
    line-height: 120%;
    flex: 1 1 auto;
}

.polypoly-dialog .polypoly-dialog-window .btn {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
}

.polypoly-dialog .polypoly-dialog-window .btn.back {
    border: 1px solid var(--color-indigo-950);
    color: var(--color-indigo-950);
    background-color: transparent;
}

.polypoly-dialog .polypoly-dialog-window .btn.proceed {
    background-color: var(--color-indigo-950);
    color: var(--color-gray-50);
}
