$core-nude: #F9F0D7;
$core-offwhite: #FAF6F4;
$core-black: #000000;
$core-olive: #B0991A;
$core-yellow: #FEF230;
$academy-rose: #FFEBE2;
$academy-blue: #91DAFF;
$academy-rustRed: #CD6F55;
$grey-light: #E2E7EA;
$grey-medium: #A9BCC8;
$grey-grey: #8197A5;
$signal-good: #00BFE3;
$signal-noGood: #FFC60B;
$signal-bad: #F47D20;
$signal-worse: #ED1847;
$signal-theWorst: #640736;
