$core-nude: #f9f0d7;
$core-offwhite: #faf6f4;
$core-black: #000;
$core-olive: #b0991a;
$core-yellow: #fef230;
$academy-rose: #ffebe2;
$academy-blue: #91daff;
$academy-rustRed: #cd6f55;
$grey-light: #e2e7ea;
$grey-medium: #a9bcc8;
$grey-grey: #8197a5;
$signal-good: #00bfe3;
$signal-noGood: #ffc60b;
$signal-bad: #f47d20;
$signal-worse: #ed1847;
$signal-theWorst: #640736;
