// This reboot follows the old tradition of rebooting
// Following the path of Normalize and Bootstrap
// We have always done it like this.
@use 'colour';
@use 'variables';

*,
*::before,
*::after {
  // Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
  box-sizing: border-box;
}

html,
body {
  // Remove the margin in all browsers.
  margin: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  font-family: variables.$font-family-base;
  // @include font-size($font-size-base);
  // Prevent adjustments of font size after orientation changes in iOS.
  -webkit-text-size-adjust: 100%;
  // Change the default tap highlight to be completely transparent in iOS.
  -webkit-tap-highlight-color: rgba(colour.$core-black, 0);
  background-color: colour.$core-offwhite;
  color: colour.$core-black;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: variables.$headings-margin-bottom;
  color: variables.$headings-color;
  font-weight: variables.$font-weight-bolder;
}

h1 {
  font-size: 1.4rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: variables.$paragraph-margin-bottom;
}

ol,
ul {
  padding-left: 2rem;
}

ol,
ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

blockquote {
  margin: 0 0 1rem;
}

strong {
  // Add the correct font weight in Chrome, Edge, and Safari
  font-weight: variables.$font-weight-bolder;
}

// small {
  // Add the correct font size in all browsers
  // @include font-size($small-font-size);
// }

// Mark
// mark {
  // padding: $mark-padding;
  // background-color: $mark-bg;
// }

// Links
// a {
//   color: $link-color;
//   text-decoration: $link-decoration;

//   &:hover {
//     color: $link-hover-color;
//     text-decoration: $link-hover-decoration;
//   }
// }

img,
svg {
  vertical-align: middle;
}

button {
  // Remove the default `border-radius` that macOS Chrome adds.
  border-radius: 0;
}

input,
button,
select,
optgroup,
textarea {
  // Remove the margin in Firefox and Safari
  margin: 0;
  font-family: inherit;
  font-size: 1rem;
  line-height: inherit;
}

button,
input {
  // Show the overflow in Edge
  overflow: visible;
}

button,
select {
  // Remove the inheritance of text transform in Firefox
  text-transform: none;
}
