// TODO variables need to be broken into different files
@use 'colour';

$font-family-base: "Rubik", sans-serif;
$headings-margin-bottom: 1rem;
$paragraph-margin-bottom: 1rem;
$font-weight-bolder: 700;
$headings-color: colour.$core-black;
