@use 'reboot';
@use 'colour';
@use 'variables';
@use 'components/layout';
@use 'components/header';
@use 'components/footer';
@use 'components/tabs';

/* hidden from view, but not from screen readers */
%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* TODO Lucas: aufräumen */
.invisible {
  visibility: hidden;
}

@font-face {
  font-family: "Rubik";
  src: url("./fonts/Rubik-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: bold;
  src: url("./fonts/Rubik-Medium.woff2") format("woff2");
}

.page-title,
.page-title a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #4a5568; // this is apparently a custom colour
}

button,
a.button {
  background: transparent;
  flex-grow: 1;
  border: 2px solid black;
  border-radius: 3px;
  padding: 0.2rem 1rem;
  text-decoration: none;
  display: inline-block;
  color: colour.$core-black;
  text-align: center;

  &.inverted {
    background: colour.$core-black;
    color: colour.$core-offwhite;
  }

  // TODO find a good name
  &.alt {
    padding: 0.2rem;
    border: none;
    background-color: #fcf79e;
    flex-grow: 0; //no, that's not okay. I know
  }
}

// not sure yet what about this is generic
.card {
  background: url("./icons/onboarding.png") colour.$core-nude no-repeat center center;
  background-size: cover;
  height: 300px;
  border-radius: 25px;
  padding: 1rem;
  display: grid;
  grid-template-rows: auto 1fr auto;

  > * {
    max-width: 75%;
  }

  > header * {
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  button,
  .button {
    background-color: colour.$core-black;
    color: colour.$core-nude;
  }
}

.call-out-section {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border-top: 2px solid #718096;
  border-bottom: 2px solid #718096;
  padding: 1rem;
  background: url("./icons/chevron.svg") no-repeat right center;

  & > :not(:last-child) {
    margin-bottom: 1rem;
  }

  strong {
    font-size: 1.2rem;
    // TODO: Where does this color come from? Is this the link color?
    color: #0f5bb1;
  }

  p {
    color: #000;
  }
}

.question-card-index {
  font-size: 1.2rem;
  color: #735c01;
  margin-bottom: 1rem;
}

.question-card-question {
  color: #1a202c;
  margin-bottom: 2rem;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
}

.choice-input {
  @extend %visually-hidden;
}

// TODO Where do these colors come from?
.choice-label {
  display: flex;
  align-items: center;
  border: 1px solid #a0aec0;
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 0.4rem;
  --choice-index-color: #e2e8f0;
  --choice-index-background-color: #4a5568;

  & > * {
    padding: 0.4rem 0.6rem;
  }

  :checked ~ & {
    --choice-index-color: #2d3748;
    --choice-index-background-color: #ebe019;
    background-color: #ebe019;
  }
}

.choice-index {
  background-color: var(--choice-index-color);
  color: var(--choice-index-background-color);
  border-radius: 5px;
}

.chevron-up {
  transform: rotate(270deg);
}

.chevron-down {
  transform: rotate(90deg);
}

.questionnaire-footer {
  display: flex;
  background-color: colour.$core-offwhite;
  font-size: 0.8rem;

  & > :not(:last-child) {
    margin-right: 0.2rem;
  }
}

.questionnaire-progress {
  display: flex;
  flex-direction: column;
  flex: 1;
}
