.off-facebook-events-ministory-summary h2,
.off-facebook-events-ministory-details h2 {
    font-size: 60px;
    font-weight: 800;
    font-family: "Jost Medium";
    letter-spacing: -0.01em;
}

.off-facebook-events-ministory-summary h2 {
    margin-top: 50px;
    margin-bottom: 28px;
}

.off-facebook-events-ministory-details h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.off-facebook-events-ministory-details h3 {
    font-weight: 500;
    font-size: 24px;
    font-family: "Jost medium";
}

.off-facebook-events-ministory-details .legend {
    display: flex;
    flex-direction: row;
}

.off-facebook-events-ministory-details .legend div {
    display: flex;
    flex-direction: row;
    margin-right: 8px;
}

.off-facebook-events-ministory-details .legend div img {
    margin-right: 2px;
}

.off-facebook-events-ministory-details .legend .on-bars {
    transform: translateY(12px);
}

.off-facebook-events-ministory-details .divide-y {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.off-facebook-events-ministory-details .divide-y p {
    flex: 1 1 auto;
    font-size: 12px;
}

.off-facebook-events-ministory-details .divide-y .source {
    flex: 0 0 auto;
}
