.featured-company-holder {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    margin: 16px;
    margin-top: 32px;
    position: relative;
    height: 80%;
    width: 100%;
    padding: 4px;
}
