.featured-company-holder {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: var(--max-width);
}

.featured-company-card {
    height: 100%;
    padding: 24px 0 52px 0;
    overflow-x: hidden;
    overflow-y: scroll;
}

.swiper-pagination-bullets {
    bottom: 0 !important;
    padding: 8px 0 20px 0;
    background: linear-gradient(#0f193800 0%, #0f1938 40%);
    pointer-events: none;
}

.swiper-pagination-bullet-active {
    background-color: white !important;
}

.swiper-pagination-bullet {
    background-color: transparent;
    border: 2px solid white;
}
