.featured-company-holder {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    position: relative;
    margin: 0 auto;
    height: 530px;
    width: 100%;
    max-width: 414px;
}

.featured-company-card {
    padding: 0 12px;
}

.swiper-pagination-bullet-active {
    background-color: white !important;
}

.swiper-pagination-bullet {
    background-color: transparent;
    border: 2px solid white;
}
