.featured-company-holder {
    display: flex;
    overflow-x: auto;
    flex-wrap: nowrap;
    position: relative;
    margin: 0;
    height: 80%;
    width: 100%;
    padding: 0px;
}

.swiper-pagination-bullet-active {
    background-color: white !important;
}

.swiper-pagination-bullet {
    background-color: transparent;
    border: 2px solid white;
}
