.poly-icon-button {
  border: none;
  background-color: transparent;
}
.poly-icon-filled {
  border: none;
  background-color: var(--color-gray-300);
  width: 48px;
  height: 48px;
}
.poly-icon-filled.filled-right {
  border-radius: 0 50% 50% 0;
}
.poly-icon-filled.filled-left {
  border-radius: 50% 0 0 50%;
}
