.poly-button {
  font-family: var(--theme-font-medium);
  font-size: 18px;
  padding: 4px 12px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--pl-radius-1x);
  box-sizing: border-box;
  border: none;
}

.poly-button:active {
  opacity: 0.88;
}

.poly-button:disabled {
  opacity: 0.38;
}

.poly-button.filled {
  background-color: var(--pl-button-color-fill-primary);
  color: var(--pl-button-color-text-primary);
}

.poly-button.outline {
  border: 1px solid var(--pl-button-color-border-secondary);
  color: var(--pl-button-color-text-secondary);
  background-color: var(--pl-button-color-fill-secondary);
}

.poly-button.small {
  padding: var(--pl-small-button-spacing-padding-vert)
    var(--pl-small-button-spacing-padding-hor);
}

.poly-button .icon {
  display: inherit;
}

.poly-button .icon-left {
  margin-right: var(--pl-small-button-spacing-gap);
}

.poly-button .icon-right {
  margin-left: var(--pl-small-button-spacing-gap);
}

.poly-button.large {
  width: 100%;
}

