.poly-button {
  font-family: var(--theme-font-medium);
  font-size: 18px;
  padding: 4px 12px;
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--pl-radius-1x);
  box-sizing: border-box;
  border: none;
}

.poly-button:active {
  opacity: 0.88;
}

.poly-button:disabled {
  opacity: 0.38;
}

.poly-button.primary {
  background-color: var(--pl-button-color-fill-primary);
  color: var(--pl-button-color-color-primary);
}

.poly-button.primary-medium {
  background-color: var(--theme-tertiary-color);
  color: var(--color-indigo-950);
}

.poly-button.secondary {
  border: 1px solid var(--pl-button-color-border-secondary);
  color: var(--pl-button-color-text-secondary);
  background-color: var(--pl-button-color-fill-secondary);
}
