.location-legend {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 2px 30px 2px 30px;
    width: 100%;
    margin-top: 4px;
}

.location-legend p {
    display: inline-block;
    flex: 0 0 auto;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: var(--color-medium);
    margin: 0px 4px;
    height: 12px;
}

.location-legend .source {
    flex: 1 1 auto;
    justify-content: flex-start;
}

.location-legend .source p {
    display: block;
    margin: 0;
}

.location-legend .legend {
    flex: 0 0 auto;
    width: 172px;
    height: 26px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.location-legend .legend div {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    height: 12px;
}

.location-legend .info-button {
    padding: 4px 0;
}

.location-legend .EU-GDPR {
    background-color: var(--jurisdiction-EU-GDPR);
}

.location-legend .Russia {
    background-color: var(--jurisdiction-russia);
}

.location-legend .Five-Eyes {
    background-color: var(--jurisdiction-five-eyes);
}

.location-legend .China {
    background-color: var(--jurisdiction-china);
}

.location-legend .Others {
    background-color: var(--jurisdiction-others);
}

.location-legend .circle {
    display: inline-block;
    width: 10px;
    height: 10px !important;
    border-radius: 50%;
    transform: translate(2px, 2px);
    flex: 0 0 auto;
}
