.pop-up-banner {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: calc(var(--gdu) * 4);
    margin: calc(var(--gdu) * -6) calc(var(--gdu) * -4) calc(var(--gdu) * 6) calc(var(--gdu) * -4);
    box-sizing: border-box;
}

.standard {
    background-color: var(--color-gray-100);
    color: var(--color-gray-900);
}

.error {
    background-color: var(--color-red-200);
    color: var(--color-red-900);
}

.success {
    background-color: var(--color-green-200);
    color: var(--color-green-950);
}

.warning {
    background-color: var(--color-yellow-200);
    color: var(--color-yellow-800);
}