.explorer-container {
    display: flex;
    flex-flow: column;
    position: absolute;
    background-color: #0f1938;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.explorer-container-light {
    display: flex;
    flex-flow: column;
    position: absolute;
    background-color: #edf2f7;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.screen-content {
    height: 100%;
    display: flex;
    flex-flow: column;
}
