.data-structure {
    position: relative;
}

.data-structure .data-structure-button {
    height: 32px;
    margin: 4px;
    padding: 0 12px;
    border: solid 1px var(--color-contrast-white);
    border-radius: 16px;
    background-color: var(--background-dark);
    color: var(--text-light);
    font-size: 14px;
}

.data-structure .selected-data {
    background-color: var(--background-light);
    color: var(--text-dark);
}

.data-structure .info-button {
    right: -16px;
    bottom: 0;
}

.data-structure .source {
    margin: 36px 0 0 0;
    font-size: 12px;
    color: var(--color-gray-400);
}