.search-bar-container {
    width: 100%;
    max-width: 460px;
    display: flex;
    justify-content: center;
    margin: 20px auto 0 auto;
    /* Solution to fix problem in iOS Safari */
    flex: 0 0 auto;
}

.search-bar-container .search-bar {
    box-sizing: border-box;
    display: block;
    background-color: #0f1938;
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 40px;
    font-size: 18px;
    border: 1px solid #8d9caf;
    border-radius: 20px;
    outline: none;
}

.search-bar-container .search-bar .search-bar-input {
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    font-size: 18px;
    border: none;
    margin-left: 18px;
    outline: none;
}

.search-bar-container .search-bar .search-bar-input::placeholder {
    color: #a9b6c6;
}

.search-bar-container .search-bar button {
    background-color: transparent;
    border: none;
    outline: none;
    margin-right: 5px;
}

.company-search {
    width: 100%;
    max-width: 460px;
    margin: 0 auto;
    padding: 16px 0;
    overflow-y: scroll;
}

.suggestion-holder .suggestions {
    display: flex;
    flex-wrap: wrap;
}

.company-search .no-answers,
.suggestion-container p,
.company-search button {
    width: 80%;
    max-width: 414px;
    margin-left: 30px;
    margin-right: 30px;
}

.company-search .no-answers {
    margin-top: 8px;
    margin-bottom: 8px;
    color: #8d9caf;
}

.suggestion-container p {
    box-sizing: border-box;
    margin-top: 0;
    padding-left: 1px;
    padding-right: 1px;
    font-size: 12px;
    color: #8d9caf;
}

.company-search button {
    background-color: transparent;
    border: transparent;
    outline: none;
    font-size: 18px;
    text-align: left;
    padding: 1px 3px;
    margin-top: 4px;
    margin-bottom: 4px;
}
