.poly-button {
  font-family: var(--theme-font-medium);
  font-size: 18px;
  background-color: var(--theme-secondary-color);
  padding: 4px 12px;
  height: 48px;
  max-width: var(--max-width);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--theme-primary-color);
  border-radius: 4px;
  box-sizing: border-box;
}

.poly-button.centered {
  margin: 0 auto;
  width: 100%;
}
