:root,
.poly-theme {
  --theme-font-base: var(--jost);
  --theme-font-medium: var(--jost-medium);
  color: var(--theme-secondary-color);
  font-family: var(--jost);
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.01em;
}

:root,
.poly-theme-light {
  --theme-primary-color: var(--color-gray-50);
  --theme-secondary-color: var(--color-indigo-950);
  --theme-small-print-color: var(--color-gray-500);
  --theme-info-button-color: var(--color-gray-400);
}

.poly-theme-dark {
  --theme-primary-color: var(--color-indigo-950);
  --theme-secondary-color: var(--color-gray-50);
  --theme-small-print-color: var(--color-gray-400);
  --theme-info-button-color: var(--color-gray-800);
}
