.section-title-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 12px;
    align-items: center;
}

.section-title {
    width: 100%;
    font-family: "Jost Medium";
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.01em;
}

.line {
    width: 100%;
    height: 0px;
    border: solid 1px var(--color-medium);
}
