.tab-button-container {
    box-sizing: border-box;
    flex: 0 1 auto;
    height: 35px;
    margin: 0 auto;
    width: 100%;
    max-width: 412px;
}

.tab-button-container .tab-button {
    background-color: #0f1938;
    width: 33.3%;
    height: 100%;
    padding-bottom: 12px;
    font-size: 16px;
    line-height: 16px;
    color: #8d9caf;
    border-color: transparent;
    outline: none;
}

.tab-button-container .tab-button.active {
    border-bottom: 4px solid #edf2f7;
    color: #edf2f7;
}

.tab-content-container {
    position: relative;
    height: 203px;
    margin: 0 auto;
    width: 100%;
    max-width: 412px;
}

.tab-content-container .location-block {
    height: 177px;
}

.tab-content-container .EU-GDPR {
    background-color: #60e6de;
}

.tab-content-container .Russia {
    background-color: #fe8988;
}

.tab-content-container .Five-Eyes {
    background-color: #ec453d;
}

.tab-content-container .China {
    background-color: #c5271e;
}

.tab-content-container .Others {
    background-color: #8d9caf;
}

.company-info-text-container {
    margin: 0 auto;
    width: 100%;
    max-width: 412px;
}

.company-info-text {
    margin: 8px 32px;
}
