.data-region-info-screen {
    display: block !important;
    overflow: hidden scroll;
}

.data-region-info-screen .heading {
    display: block;
    box-sizing: border-box;
    margin: 30px auto 24px auto;
    color: #0f1938;
    font-size: 24px;
    text-align: center;
}

.data-region-info-screen .sub-heading {
    display: block;
    text-align: center;
    box-sizing: border-box;
    margin: 30px auto 24px auto;
    color: #0f1938;
    font-size: 22px;
}

.data-region-info-screen .sub-sub-heading {
    display: block;
    box-sizing: border-box;
    margin: 30px auto 24px auto;
    color: #0f1938;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.01em;
}

.data-region-info-screen .map {
    padding: 0 0;
    background-color: #0f1938;
}

.data-region-info-screen button {
    display: block;
    width: 300px;
    height: 56px;
    margin: 32px auto 32px auto;
    border-radius: 4px;
    background: #0f1938;
    color: #fff;
    font-size: 18px;
}

.data-region-info-screen .legend-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    padding: 0 30px;
}

.data-region-info-screen .legend {
    box-sizing: border-box;
    flex: 1 1 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.data-region-info-screen .legend div {
    display: flex;
    flex-direction: row;
}

.data-region-info-screen .legend .EU-GDPR {
    background-color: #60e6de;
}

.data-region-info-screen .legend .Russia {
    background-color: #fe8988;
}

.data-region-info-screen .legend .Five-Eyes {
    background-color: #ec453d;
}

.data-region-info-screen .legend .China {
    background-color: #c5271e;
}

.data-region-info-screen .legend .Others {
    background-color: #8d9caf;
}

.data-region-info-screen .legend-container p {
    color: #0f1938;
    width: auto;
    font-weight: 500;
    font-size: 10px;
    padding: 0;
    margin: 4px 6px 4px 2px;
}

.data-region-info-screen .legend .circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(5px);
}
