.infographic {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.infographic svg {
    display: block;
    width: 100%;
    margin: 12px auto;
}

.infographic .text-field {
    color: var(--color-text-dark);
    font-size: 12px;
    line-height: var(--line-height);
}

.infographic .highlighted {
    font-size: 24px;
    color: #3749a9;
    white-space: nowrap;
}

.infographic .bold {
    font-weight: 600;
}

.infographic .jurisdiction-white {
    color: white;
    white-space: nowrap;
    font-weight: 500;
    font-size: 6;
}

.infographic .jurisdiction-blue {
    white-space: nowrap;
    font-weight: 500;
    font-size: 6;
}
