.info-screen {
    display: block !important;
    overflow: hidden scroll;
}

.info-screen * {
    color: #0f1938;
    font-size: 16px;
}

.info-screen>* {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.info-screen h1 {
    margin-top: 24px;
    margin-bottom: 0;
    font-family: "Jost Medium";
    font-size: 24px;
    text-align: center;
}

.info-screen p {
    margin-top: 4px;
}

.info-screen ul {
    margin-top: 32px;
}

.info-screen img {
    display: block;
    width: 300px;
    margin: 0 auto;
}

.info-screen button {
    display: block;
    width: 300px;
    height: 56px;
    margin: 0 auto 32px auto;
    border-radius: 4px;
    background: #0f1938;
    color: #fff;
    font-size: 18px;
}
