.infographic {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.infographic svg {
    /* display: block; */
    width: 100%;
    /* margin: 12px auto; */
}

.infographic .text-field {
    color: var(--text-dark);
    font-size: 12px;
    line-height: var(--line-height);
}

.infographic .highlighted {
    font-size: 12px;
    font-weight: 600;
    color: var(--color-indigo-700);
    white-space: nowrap;
}

.infographic .bold {
    font-weight: 600;
    font-size: 16px;
}

.infographic .small-bold {
    font-weight: 600;
    font-size: 12px;
}
