/* .featured-company-info-screen .gauge-explanation-graphic {
    position: relative;
    width: 300px;
    margin: 52px auto 0 auto;
} */

/* Hack until we have a better asset to work with */
/* .featured-company-info-screen .gauge-explanation-entries {
    position: absolute;
    left: 32px;
    top: 57px;
    font-size: 24px;
    color: #3749a9;
    background: #f7fafc;
}

.featured-company-info-screen .gauge-explanation-first,
.featured-company-info-screen .gauge-explanation-second,
.featured-company-info-screen .gauge-explanation-third,
.featured-company-info-screen .gauge-explanation-fourth {
    display: inline-block;
    position: relative;
    width: 78px;
    vertical-align: top;
    font-size: 12px;
}

.featured-company-info-screen .gauge-explanation-first {
    width: 125px;
    margin-bottom: 8px;
    left: 24px;
}

.featured-company-info-screen .gauge-explanation-second {
    left: 0;
}

.featured-company-info-screen .gauge-explanation-third {
    left: 16px;
}

.featured-company-info-screen .gauge-explanation-fourth {
    left: 48px;
} */
