:root {
  --color-dark: #0f1938;
  --color-white: #ffffff;
  --color-contrast-white: #f7fafc;

  --color-indigo-50: #f0f1fe;
  --color-indigo-100: #d8dcf9;
  --color-indigo-200: #b9c0f2;
  --color-indigo-300: #8f9be7;
  --color-indigo-400: #737fdb;
  --color-indigo-500: #5664cd;
  --color-indigo-600: #475abb;
  --color-indigo-700: #3749a9;
  --color-indigo-950: #0f1938;

  --color-red-50: #fff5f5;
  --color-red-100: #fdd4cd;
  --color-red-200: #ffb2b3;
  --color-red-300: #fb8a89;
  --color-red-900: #581610;

  --color-green-200: #91d4a8;
  --color-green-800: #0d532a;

  --color-gray-50: #f7fafc;
  --color-gray-100: #edf2f7;
  --color-gray-200: #eeeeee;
  --color-gray-300: #cbd5e0;
  --color-gray-400: #a9b6c6;
  --color-gray-500: #8d9caf;
  --color-gray-700: #525e72;
  --color-gray-800: #3e495b;

  /* We use this instead of transparent for ios compatibility */
  --transparent: rgba(0, 0, 0, 0);
  --transparent-light: rgba(247, 250, 252, 0);
  --transparent-dark: rgba(0, 0, 0, 0);
}
