:root,
.poly-theme {
  --theme-font-base: var(--jost);
  --theme-font-medium: var(--jost-medium);
  color: var(--theme-secondary-color);
  font-family: var(--jost);
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.01em;
}

.poly-theme text {
  font-family: var(--jost-medium);
}

.poly-theme input {
  color: var(--theme-secondary-color);
}

.poly-theme button {
    border: none;
}

:root,
.poly-theme-light {
  --theme-primary-color: var(--color-gray-50);
  --theme-secondary-color: var(--color-indigo-950);
  --theme-small-print-color: var(--color-gray-500);
  --theme-info-button-color: var(--color-gray-400);
}

.poly-theme-dark {
  --theme-primary-color: var(--color-indigo-950);
  --theme-secondary-color: var(--color-gray-50);
  --theme-small-print-color: var(--color-gray-400);
  --theme-info-button-color: var(--color-gray-800);
}
.poly-theme h1,
.poly-theme h2,
.poly-theme h3,
.poly-theme h4,
.poly-theme h5 {
  font-weight: var(--font-weight-regular);
}
