.story .content {
    width: 100%;
    color: var(--color-text-dark);
    overflow: hidden scroll;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
}

.story .scroll-up-btn,
.story .progress-bar {
    position: absolute;
    top: 0;
    left: 0;
}

.story .progress-bar {
    height: 4px;
}

.story .scroll-up-btn {
    width: 100%;
    height: 10%;
}

.story .content::-webkit-scrollbar-track {
    margin-top: 8px;
}
