.tab-button-container {
    box-sizing: border-box;
    height: 35px;
    margin: 0 auto;
}

.tab-button-container .tab-button {
    box-sizing: border-box;
    background-color: #0f1938;
    width: 33.3%;
    height: 100%;
    padding-bottom: 12px;
    font-size: 16px;
    line-height: 16px;
    color: #8d9caf;
    border-color: transparent;
    outline: none;
}

.tab-button-container .tab-button.active {
    border-bottom: 4px solid #edf2f7;
    color: #edf2f7;
}

.scroll-container {
    flex: 1 1 auto;
    margin: auto;
    overflow-y: auto;
    margin-bottom: 18px;
    width: 100%;
    max-width: 412px;
}

.tab-content-container {
    position: relative;
    height: 203px;
    margin: 2px auto 0 auto;
    width: 100%;
    max-width: 412px;
}

.tab-content-container .location-block {
    height: 177px;
}

.tab-content-container .EU-GDPR {
    background-color: #60e6de;
}

.EU-GDPR p {
    color: #002850;
}

.tab-content-container .Russia {
    background-color: #fe8988;
}

.tab-content-container .Five-Eyes {
    background-color: #ec453d;
}

.tab-content-container .China {
    background-color: #c5271e;
}

.tab-content-container .Others {
    background-color: #8d9caf;
}

.location-block img {
    display: block;
    width: 36px;
    height: 36px;
    margin: 0 auto;
    transform: translateY(67px);
}

.location-block p {
    display: block;
    width: 142px;
    margin: 0 auto;
    transform: translate(84px, 48px);
}

.location-tooltip {
    display: flex;
    padding: 0 4px;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
}

.location-tooltip img {
    margin: 4px auto;
}

.location-tooltip p {
    color: #8d9caf;
    font-weight: 500;
    font-size: 10px;
    margin: 7px 6px 0px 2px;
}

.location-tooltip .circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(8px);
}

.location-tooltip button {
    border: transparent;
    background-color: transparent;
    outline: none;
    padding: 0 2px;
}

.company-info-text {
    box-sizing: border-box;
    width: 100%;
    max-width: 474px;
    padding: 4px 32px;
}

.company-info-source {
    color: #8d9caf;
    flex: 0 0 auto;
    font-size: 12px;
    margin: 4px auto;
    transform: translateY(-24px);
    width: 80%;
    max-width: 350px;
}

.gradient-box {
    flex: 0 0 auto;
    width: 100%;
    max-width: 474px;
    height: 20px;
    transform: translateY(-34px);
}

.gradient {
    background-image: -moz-linear-gradient(transparent, #0f1938);
    background-image: -webkit-linear-gradient(transparent, #0f1938);
}

.explore-data-btn {
    flex: 0 0 auto;
    box-sizing: border-box;
    width: 85%;
    max-width: 414px;
    height: 48px;
    background-color: #edf2f7;
    color: #0f1938;
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto 24px auto;
    border-radius: 8px;
    border: transparent;
    outline: none;
}
