name: Testing polyPod in iOS
on:
    push:
        paths:
            - "ios/**"
            - "core/**"
            - "features/**"
            - "build/**"
    pull_request:
        paths:
            - "ios/**"
            - "core/**"
            - "features/**"
            - "build/**"
jobs:
    test:
        name: Testing polyPod iOS app
        runs-on: macOS-10.15
        steps:
            - name: Checkout repository
              uses: actions/checkout@v2
            - uses: actions/setup-node@v2
              with:
                  node-version: 16
                  cache: "npm"
                  cache-dependency-path: "**/package-lock.json"
            - name: Lock xcode version
              run: sudo xcode-select -switch /Applications/Xcode_12.4.app
            - name: Installs deps only if needed
              if: steps.setup.outputs.cache-hit != 'true'
              run: ./build.js install
            - name: Build core and features
              run: ./build.js
            - name: Build and test iOS
              run: |
                  cd ios
                  set -o pipefail
                  make test | xcpretty
