name: Testing polyPod in iOS
on:
    push:
        paths:
            - "feature-utils/**"
            - "features/**"
            - "platform/feature-api/**"
            - "platform/core/**"
            - "platform/ios/**"
    pull_request:
        types: [assigned, opened, ready_for_review]
        paths:
            - "feature-utils/**"
            - "features/**"
            - "platform/core/**"
            - "platform/feature-api/**"
            - "platform/ios/**"
jobs:
    test:
        name: Testing polyPod iOS app
        runs-on: macOS-11
        steps:
            - name: Checkout repository
              uses: actions/checkout@v2
            - name: Lint swift
              working-directory: platform/ios
              run: docker run -it -v `pwd`:`pwd` -w `pwd` ghcr.io/realm/swiftlint:latest
            - uses: actions/setup-node@v2
              with:
                  node-version: 16
                  cache: "npm"
                  cache-dependency-path: "**/package-lock.json"
            - name: Lock xcode version
              run: cd platform/ios; make lockxcodeversion
            - name: Build API and features
              run: ./build.js
            - name: Build and test iOS
              run: |
                  cd platform/ios
                  make test
