name: Lint kotlin

# Disabled for now, as it is impractical for two reasons:
#
# 1. The rules are different from Android Studio's auto corrections
# 2. There is no straightforward way to run ktlint locally
#
# Once these issues are resolved we should reenable the job.
#
on:
  push:
    paths:
      - .github/workflows/ktlint.yaml
      - 'android/**/*.kt'
  pull_request:
    types: [assigned, opened, ready_for_review]
    paths:
      - .github/workflows/ktlint.yaml
      - 'android/**/*.kt'
jobs:
  ktlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Qodana - Code Inspection
        uses: JetBrains/qodana-action@1a43321c932939bf81e252495fc27d71b107fdca
        with:
          project-dir: ${{ github.workspace }}/android
          gradle-settings-path: ${{ github.workspace }}/android/gradle.properties
          results-dir: ${{ github.workspace }}/qodana
          cache-dir: /home/runner/work/_temp/_github_home/qodana-cache

